[2017-10-16 20:30] JasonEtco opened #1 "Status check for PR to depend on issues"
In a PR, you write something like

[code]

to show that the PR can only be merged if those issues have been closed. So the bot will have a status check (like CI) if any of those issues are still open. If they are, the "test" is considered failed, so the PR's status will be ❌.

cc @wilhelmklopp

[2017-10-17 12:50] bkeepers opened #2 "Label by file path"
Like [owners](http://github.com/probot/owners), but adds labels based on paths changed in a pull request.

[2017-10-17 12:51] bkeepers opened #3 "Enforce use of Issue & PR templates"
A bot that requires new Issues & PRs use the template and fill out all the fields.

Cases to account for:

- Check that the template was actually used instead of deleted by ensuring that keywords are present in the body
- Check that placeholders in the template were replaced with real text

[2017-10-17 12:53] bkeepers opened #4 "Close milestone when release is published"
Suggested by @danielbachhuber in https://github.com/probot/template/issues/12:

And @johnbillion added:

[2017-10-17 12:55] bkeepers opened #5 "Dependency updater for each language"
via @danielbachhuber:

cc https://github.com/probot/probot/issues/121

[2017-10-17 12:56] bkeepers opened #6 "Set expectations for response time"
Via https://github.com/probot/probot/issues/11:

[2017-10-17 12:57] bkeepers opened #7 "Maintain a changelog"
Via @benbalter in https://github.com/probot/probot/issues/15

---

When a pull request is merged, add a line to `CHANGELOG.md` or `HISTORY.md`, with the PR title, number, and if the contributor is not a maintainer, give them props, optionally categorizing the updates based on tags.

@jekyllbot does this (with a slightly different behavior that I don't like), but the end result could look somethign

[2017-10-17 12:57] bkeepers commented on #7
@JasonEtco added in https://github.com/probot/template/issues/4#issuecomment-331011832:

---

Might also be worth looking into how [semantic-release](https://github.com/semantic-release/semantic-release) does this. Setting it up is a bit of a mystery to me, but I like their convention of prefixing commits with certain keywords, then organizing the resulting release post by those keywords. So:

[co

[2017-10-17 12:59] bkeepers opened #8 "Auto-assign maintainer to new issues"
From @benbalter in https://github.com/probot/probot/issues/17:

[2017-10-17 13:00] bkeepers opened #9 "Automatically create a release when a new tag is pushed"
Via @benbalter in https://github.com/probot/probot/issues/16:

[2017-10-17 23:24] anglinb opened #10 "Automatically deploy to Glitch"
Memorializing a quick convo w/ @clarkbw @gr2m & @JasonEtco [that we had over slack](https://probot-talk.slack.com/archives/C6S4FC8AF/p1508279998000373).

@gr2m had already built a dope UI for deploying Probot apps on Glitch but we could make this even cooler if we setup continuous deployment through a probot app and a probot helper that you would install in your app.

Whenever a user creates a sla

[2017-10-17 23:33] gr2m commented on #10
@anglinb can you paste the conversation in here maybe or put it in a gist? It won’t be accessible forever unless it’s a pro slack account and I don’t think it is :)

[2017-10-18 01:07] anglinb commented on #10
Kinda janky but gets it done 👇

<img width="1336" alt="slack_-_probot" src="https://user-images.githubusercontent.com/2637602/31696393-b5a42088-b365-11e7-8fe6-9373770266ce.png">

![image](https://user-images.githubusercontent.com/2637602/31696397-c4cf39d0-b365-11e7-8748-ee531d8b62ff.png)

![image](https://user-images.githubusercontent.com/2637602/31696411-d76a7b36-b365-11e7-86f8-a6aad52f81ed.png)

[2017-10-25 13:38] JasonEtco opened #11 "Catch-all bot, custom payload UI"
A Probot app that catches all webhook events then displays them in a nifty UI.

This came out of a discussion on Slack in which we wished for new features in the webhook/payloads UI (specifically: filtering by user/event, icons for different event types)

I'm sure that the brilliant minds at GitHub will improve their UI, but building our own would allow us to hook into Probot-specific things like

[2017-10-25 13:54] JasonEtco commented on #11
What do y'all think about security? As in, I guess this should be auth-protected somehow. It can use GitHub OAuth for a user session, then block it if the APP_ID is owned by someone other than you?

[2017-10-25 14:54] JasonEtco commented on #11
Started it here, feel free to follow along/contribute 😄  https://github.com/JasonEtco/grapplehook

[2017-10-28 01:59] johnbillion commented on #4
I made this! https://github.com/johnbillion/probot-semver

[2017-10-30 15:06] GantMan opened #12 "Setup new projects per Company Standards"
it takes forever to create a new project now.  I have this:
https://gist.github.com/GantMan/07e9eb3e3b45dedbd0a7c03fa0d24ad3

I'd love to automate.

[2017-10-30 15:10] JasonEtco commented on #12
This is a really cool idea! I wonder if it's worth integrating with [Yeoman](http://yeoman.io/) or some other scaffolding things (like [create-react-app](https://github.com/facebookincubator/create-react-app) or [create-probot-app](https://github.com/probot/create-probot-app))

You'd also need to decide how to "trigger" a new build; I guess through a UI? It'd also need some login authentication, t

[2017-10-31 04:46] mithro commented on #12
It would be awesome if this could also be used to check things like does this repo have things like;
 * CODE_OF_CONDUCT.md file,
 * A LICENSE or COPYING file,
 * etc

[2017-10-31 08:22] thojansen opened #13 "fix for issue was released"
When someone creates an issue on a given project, it is common to close this issue once a PR is merged e.g. into master. However, this fix may be released at a later point in time. It would be awesome if a bot could notify on the issue once referenced commits are part of a new GitHub release.

[2017-11-01 04:12] brainwane commented on #12
It could reuse https://github.com/OpenNewsLabs/open-project-linter for checking for those kinds of things.

[2017-11-03 07:33] artivilla opened #14 "marks or suggest related Issues"
For quite a few OSS, maintainers spend quite a bit of time closing similar issues -- this might require a combination of keyword matching or some machine learning to inform of similar or related issues.

[2017-11-04 20:28] bkeepers commented on #14
Check out https://github.com/probot/duplicate-issues as a starting point.

There's an instance of it running at https://github.com/apps/duplicate-issues. The app still needs some tweaking and improvement, which is why it's not listed on the Probot site yet.

[2017-11-09 01:47] jarrodldavis opened #15 "`probot-archive-repo`"
From a [conversation](https://probot-talk.slack.com/archives/C6S4FC8AF/p1510168170000071) I had with @JasonEtco:

[2017-11-12 10:43] ahmed-taj commented on #1
Here is my attempt https://github.com/ahmed-taj/dep

[2017-11-12 16:47] bkeepers commented on #1
So great! Nice work on both the app and the blog post.

[2017-11-12 16:47] #1 closed

[2017-11-12 16:56] ahmed-taj commented on #1
@bkeepers glad you like it, thank you!

[2017-11-13 16:25] stof commented on #15
Note sure it is possible: when the repo is archived, it becomes read-only. So the app would have to perform all these actions *before* the repo gets archived AFAIK.

[2017-11-13 16:41] JasonEtco commented on #15
That's a fair point @stof - I guess we'd have a have a different way of archiving it via the API, instead of via the UI. Like by adding an [ARCHIVED] bit to the description or something, which would trigger the steps-to-archiving and the eventual archiving.

[2017-11-17 12:58] j-f1 commented on #13
Process:

When a release is published
- For each **issue** #mentioned in the release description or closed by being #mentioned in a PR #mentioned in the release:
  - comment `This has been fixed in ${release.tag.name}! :tada:`
- For each **pull request** #mentioned in the release:
  - comment `This has been released as part of ${release.tag.name}! :tada:`
- For each issue **or** pull request #ment

[2017-11-19 13:57] thojansen commented on #13
Yes, that looks about right. Maybe the label could also be optional. Any comments from others if this would be useful?

[2017-11-30 13:18] grrowl commented on #2
For anyone curious, this plugin lives here: https://github.com/probot/autolabeler

[2017-12-02 02:04] ibrahima commented on #7
This might be related, although I haven't yet looked through the code to figure out what it actually does. But it seems likely to do something like this: https://github.com/uber-workflow/probot-app-release-notes

[2017-12-04 14:09] mikz commented on #7
I made https://github.com/mikz/probot-changelog
It lacks a readme and tests, but I'm successfully using it on https://github.com/3scale/apicast.

It does not check any specific format, just that changelog changed.

[2017-12-09 12:55] ntwb commented on #9
I just saw this _probot_ repo: https://github.com/tunnckoCore/semantic-release-app

[2017-12-15 10:17] jonico opened #16 "Automatically protect branches that follow a certain pattern"
While there are [commercial offerings](https://gitmonitor.com/) to automatically protect branches that follow a certain naming pattern, I did not find an Open Source solution for this yet. Solutions like [Zappr](https://github.com/zalando/zappr) already enforce all kind of rules for already protected branches (like n-eye principle and commit message patterns), but the actual branches have to be pr

[2017-12-15 10:20] jonico commented on #16
@JasonEtco: maybe an addition to https://github.com/probot/settings 😄

[2017-12-15 19:01] zeke opened #17 "Summarize CI failures"
As a maintainer I often receive PRs from the community that fail on CI. Because the PR's author does not get a notification that the build failed, I often end up viewing the build for them, copying the errors, and pasting them into a comment so the author knows what to fix.

This seems like some a bot would be good at!

If such a bot existed, I would use it on electron-apps. See https://github.com

[2017-12-15 19:01] zeke commented on #17
PS Travis would be the first CI provider I'd wish for.

[2017-12-15 19:10] JasonEtco commented on #17
I've seen a bot do this! An OAuth integration I think. I've tried to find an example of it and failed, if I find one I'll update you. But all that to say it's possible and would be ✨ for other projects!

[2017-12-17 19:38] JasonEtco commented on #11
This exists! It's now called **Smee**, and is more than a GitHub App, it's a whole service on its own. Repo is [here](https://github.com/probot/webhooks), and it's live and working at https://smee.io 🎉

[2017-12-17 19:38] #11 closed

[2017-12-17 19:39] JasonEtco commented on #17
I'm working on this in https://github.com/jasonetco/ci-reporter - other people are welcome to take it on as well, or PR to my repo 😊

[2017-12-20 16:13] bkeepers opened #18 "Private issue reporter"
Similar to @benbalter's https://github.com/benbalter/problem_child, but as a GitHub App. Once it's installed on a repo, users can go to `the-app.com/:owner/:repo` and see the new issue form. Depending on config in the repo, you can either require authentication (default) or allow anonymous issues.

[2017-12-20 16:27] j-f1 commented on #18
GitLab has [a similar feature](https://about.gitlab.com/features/service-desk/) that gives you an email address that your users can email. Each email creates a new issue, and the user gets a reply for each comment posted on their issue. They can also reply to the email to post a comment of their own.

[2017-12-20 16:30] bkeepers opened #19 "Org invite links"
Like @benbalter's https://github.com/benbalter/add-to-org, but as a GitHub App.

Once installed on an organization, an org admin can go to the app and fill out a form to create custom invite links for the organization.

The form could include options like:

- Who can use this link?
  - Anyone
  - Anyone with a `foobar.com` email address
  - Anyone that's a member of `@org/team` (requires this app

[2017-12-20 17:08] JasonEtco commented on #19
That's a neat idea - its predicated on OAuth login (of course, you could write that all yourself but really it should be built into Probot)

[2017-12-20 19:56] zeke commented on #17
@JasonEtco nice! Is there a GitHub app for it yet?

[2017-12-20 20:04] JasonEtco commented on #17
Nope, not yet @zeke - it only _kind of_ works. I'm hoping to have some time in the next couple days to hack away at it, I'll let you know 👍

[2017-12-20 20:07] zeke commented on #17
Sweet. I'm watching the new repo now. Feel free to mention me if you need a tester. :)

[2018-01-12 01:59] evertonfraga commented on #8
I've set up this simple Probot app that will auto-assign one of the maintainers to any created issue.

It looks for a plain list of maintainers in `.github/config.yml` and uses `issue.number % maintainers.length` in order to choose which maintainer gets what issue.

Feedback and best practices appreciated. Planning to write two more that fit my needs.

https://github.com/evertonfraga/probot-auto-a

[2018-01-12 02:34] JasonEtco commented on #8
@evertonfraga awesome! FYI that repo is private 🔒

[2018-01-12 14:19] evertonfraga commented on #8
Sorry, late night blooper. It's public now 😄

[2018-01-18 18:48] domcorvasce opened #20 "Add label to issue when a PR is associated"
So when I add a PR for the issue N then this issue gets a label like `pr-available`, `pr-merged` or `pr-refused` (depending on the PR state).

[2018-01-23 12:47] evertonfraga opened #21 "Keep saved replies updated across team members"
Saved replies (aka "Canned responses") are stored at the user account level. This proposal would keep them in sync across team members.

https://github.com/settings/replies

[2018-01-25 19:50] zeke opened #22 "Merge pull requests when all status checks are passing"
For some projects (with really good test coverage?) it would be cool to be add a bot that automatically merges any PR that has passing status checks, e.g. tests passing, reviews approved, etc.

If this existed, we would probably use it on the Electron website: https://github.com/electron/electronjs.org/issues/1046

[2018-01-25 19:58] zeke commented on #22
@gr2m suggested that there might currently be some roadblocks for such a bot: https://platform.github.community/t/repositories-which-have-protected-branches-with-push-restrictions-have-no-ability-to-grant-push-rights-to-integrations/1376

[2018-01-29 06:31] gr2m opened #23 "Automatically move inactive contributors to an alumni team"
Every collaborator on a team with write access is a potential risk. As collaborators become inactive they could be moved to an alumni group with read-access only. That would also help the maintainers to keep an oversight of the amount of active contributors a community has

[2018-01-29 06:36] gr2m opened #24 "Weekly digest"
A bot that summarizes weekly activity in a locked issue. It would comment what issues have been mostly discussed / upvoted, new releases, welcome new contributors, give shoutouts to recurring contributors, etc

[2018-01-30 16:20] JasonEtco opened #25 "Auto-Update Submodules"
An app that periodically (or even on push) checks the submodules in a Git repo to see if they need updating. If they do, open up a PR to update those submodules.

[2018-01-31 18:27] tanelso2 opened #26 "Automatic Fork Syncing"
Bitbucket has a really nice feature called [Automatic Fork Syncing](https://confluence.atlassian.com/bitbucketserver/keeping-forks-synchronized-776639961.html#Keepingforkssynchronized-Enablingautomaticforksyncing) where the branches of forks are automatically kept up to date with their upstream. This saves a lot of time and reduces complexity for developers not used to working with the forking mod

[2018-01-31 18:31] JasonEtco commented on #26
Yesss! This is a great idea, and definitely possible.

[2018-01-31 19:53] tanelso2 commented on #26
Alright. I just learned about Probot yesterday, but I've got a hackathon tomorrow so I will try to take a quick and terrible stab at implementing this.

[2018-01-31 20:03] JasonEtco commented on #26
@tanelso2 good luck! If you want some quick help you can jump into [our Slack channel](https://probot-slackin.herokuapp.com/) (but of course you'll have more fun hacking away with your team)

[2018-02-04 10:27] Akshitaag opened #27 "Google this"
Someone is asking a  question in an issue/pr thread whose answer can be found on google.Respond with a gt(google this) : /gt search string will return the link of answer to that question.Saves maintainers time of answering questions that can be found on google easily.

P.S: I am an rgsoc aspirant 2018 and would wish to work on this idea.

[2018-02-04 10:29] Rahmeen14 opened #28 "One newcomer issue per aspiring contributor"
A bot that ensures exactly one newcomer issue is assigned per person so that it’s fair for all newcomers. Additionally, it encourages the no-more-newcomers to take up challenging issues once they’re comfortable with the workflow after having tackled a newcomer issue.

P.S. I'm an aspiring RGSoC 2018 scholar and would like to work on it if it's approved.

[2018-02-04 22:34] dpritchett opened #29 "Abstract "analyze and react to every line of a PR's diff" probot toolkit"
This feels like an abstraction of the linters or of @JasonEtco's [todo](https://github.com/JasonEtco/todo) bot.

## Design vision:

- A PR comes in
- a bot reads over every single line of the diff
- the line and its metadata are sent off to be evaluated by a special-purpose tool
- The results of the evaluation (pass/fail/warn, with comments) are added as comments to the PR
- The PR is potentially

[2018-02-05 13:18] evertonfraga commented on #28
Related to: https://github.com/probot/ideas/issues/8. contributions are welcome.

[2018-02-05 15:58] Rahmeen14 commented on #28
Hi @evertonfraga . Thank you for the response. So does this idea stand approved?

[2018-02-05 16:16] bkeepers commented on #29
I haven't worked on it for a long time, but I was originally hoping http://github.com/probot/linter would become a generic app that could be used with different linters (programing languages, grammar, etc).

[2018-02-06 18:33] gr2m commented on #27
Technically, this is a cool idea!

From the perspective of the person asking the question, a "google this"-response could be perceived as unfriendly / unwelcoming. I understand the underlying problem here that people should do their research first before asking questions that are only a google search away, but by making `/gt` a first-class feature in the Probot community we are risking to setting

[2018-02-06 18:36] gr2m commented on #28
I think the [auto-assigner bot](https://github.com/evertonfraga/probot-auto-assigner) is to assign maintainers, this issue suggested by Rahmeen is to make sure that new contributors cannot take more than one issue reserved for new contributors?

I think it’s a cool idea. @Rahmeen14 can you explain in more detail how you’d make it work?

[2018-02-06 18:48] Rahmeen14 commented on #28
Hi! So our idea (my teammate's and mine) would be to flash a "you can't do it" in the comments section of the issue whenever a non-new-comer attempts to get assigned to himself another new comer issue,i.e., after having solved one new-comer-issue already in the past

[2018-02-06 18:50] Akshitaag commented on #27
Hii ,
Actually the idea is not just to respond "google this " but  /gt (search query) which will in fact generate a link in the comments specifying the details of the term the person has asked for.

[2018-02-08 16:39] tanelso2 commented on #26
Hey everyone, I just remembered that I forgot to give an update on my progress after the hackathon.

The code can be found here: https://github.com/tanelso2/auto-fork-sync and if you want to see how it works, I've been using these repositories to test it: https://github.com/tanelso2/fork-sync-test and https://github.com/MaxBob/fork-sync-test

Feel free to comment, criticize, or open PRs to improve

[2018-02-10 01:27] gr2m opened #30 "Enforce documentation updates if PR adds feature or breaking change"
This bot can be installed to make sure that documentation is updated whenever code changes. In order for the bot to know that there is a new feature or breaking change it would parse all commit messages using [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog). The [preset option](https://github.com/conventional-cha

[2018-02-11 02:07] gr2m opened #31 "Make probot.glitch.me an official Probot project"
https://github.com/gr2m/glitch-github-app is the code behind https://probot.glitch.me, a web form to create a new Probot App and connect it to a new GitHub app with instructions.

I use it quite a lot myself to quickly "fork" existing probot aps and play around with their code, but there are a few things that could be improved. For example

- call the Glitch Remix URL in an iframe (if possible), s

[2018-02-11 19:15] tcbyrd commented on #31
I'm all 👍 for making this an official project. Just heads up that I tried using URL parameters on the new app form and couldn't make it work in the same way that it works on new issues/PRs, so I'm not sure if that's possible today. Maybe something to raise as ecosystem feedback.

@gr2m Just curious if you've also looked into the Glitch [for Platforms](https://glitch.com/forplatforms/) and if that

[2018-02-11 19:43] gr2m commented on #31
damnit, I think you are right. It works with tokens: https://github.com/settings/tokens/new?description=github-rename-tags-and-releases&scopes=read:org,user:email. I've left a message i the `#github-feedback` slack channel about it.

Yes! I wanted to make a case first and then ask if GitHub would sponsor that :) I think the integration would be much nicer. If we made it official, it would be nice

[2018-02-12 17:37] ocombe commented on #22
we're thinking about doing something similar for Angular, we already have a probot app that checks if the PR is good to merge, but it doesn't do the merge itself yet

[2018-02-12 19:04] zeke commented on #22
Hey @ocombe is that bot source public?

[2018-02-12 19:14] ocombe commented on #22
yes! it's here: https://github.com/angular/github-robot
we're going to add some new PR triage functionalities soon as well, see https://github.com/angular/angular/issues/21884 for a first draft of what we intend to do

[2018-02-12 19:46] anshumanv commented on #23
Seems interesting @gr2m, I'll update as I make progress.

[2018-02-12 19:47] anshumanv commented on #23
What would be the ideal time to move the collabs in the alimni group? 15 days sounds legit?
And are we defining `inactive` as no reviews, merges, commits? Or is there anything else that I'm missing here.

Th

[2018-02-12 19:50] gr2m commented on #23
I would give it more time by default, maybe 2 or 3 months. In Open Source, things move slow some time, and that's okay :) We can make the time configurable over time.

Anything :) We can start out with just commits because it might be the easiest. It will be enough to build a first version, and then we can iterate from there?

[2018-02-12 19:51] j-f1 commented on #23
I’d say a month or so — people might take (OSS or real-life) vacations and stop contributing for a while, then return to contributing later on. How about a configuration option?

[2018-02-12 19:53] anshumanv commented on #23
Makes sense @gr2m @j-f1
Configuration can be most suitable here, which can be set considering the activity in the project. :smile:
I'll lookup things and update/query as I encounter something. :+1:

[2018-02-12 19:55] gr2m commented on #23
awesome :) yeah configuration would be great, but okay to start out without it if that makes it simpler for you :)

[2018-02-13 04:54] zeke commented on #22
Good stuff. Thanks for sharing, @ocombe.

[2018-02-13 05:34] anshumanv commented on #23
@gr2m Cool, can you perhaps brief me with the requirements for this?
Like what is the expected outcome, and what I'm expected to do?
What I've picked up so far is that-
* I've to understand probot well.
* Then get started by building a probot app for this issue(is it?).
Can you please add any needful points which I'm missing out. :smile:

[2018-02-13 05:40] sleepyjoker commented on #24
it's sounds interesting, could I took charge of it in the google summer of code?
I notice that there are more and more apps provide data statistics during a period, I think it is cool to have one in github.

[2018-02-13 08:32] anshumanv commented on #23
cc @bkeepers @j-f1

[2018-02-13 08:37] agbilotia1998 opened #32 "Twitter Integration"
**This idea is number 5 proposed for GSOC 2018**

Use GitHub’s Pull Requests & Reviews to collaborate on a shared twitter account. Tweets are simply files in a repository. The GItHub app would enforce the character limit by setting a pull request status. Tweets could be allowed to be scheduled or be queued based on a configured tweet schedule

** I would like to work on this.**

[2018-02-13 11:19] j-f1 commented on #32
Cool idea!

What would happen if the files were edited after the tweet was posted?

[2018-02-13 11:42] Tanzeel159 opened #33 "Bot that alerts if issue is assigned to someone"
Interested in developing a bot which automatically alerts the assignee when he has been assigned an issue so that the assignee doesn't waste time and can formulate ideas and immediately start working on the assigned issue !

[2018-02-13 12:58] agbilotia1998 commented on #32
We can create a new tweet or add a tweet to the previous one or just delete the previous one and tweet the modified file.

Any further suggestions are welcomed!As I have not yet modelled the implementation part.

[2018-02-13 13:34] mritunjaygoutam12 opened #34 "Interested to work on "Automatically merge pull requests that pass all checks""
Hello Everyone,
I am Mritunjay goutam from India. I am javascript developer working nodejs and last year GSOC student.
I wanna work on "Automatically merge pull requests that pass all checks".
Where to discuss more about this project idea?

[2018-02-13 13:43] JasonEtco commented on #33
Cool idea! GitHub already notifies them via the [Notifications page](https://github.com/notifications) - what could yours do differently?

[2018-02-13 15:48] JasonEtco opened #35 "Comment-or-update-comment"
Not really an app idea, but I think a lot of apps will want to post a comment on a PR/issue then update that comment on subsequent events (rather than posting a new comment). As an example, Codecov has this behavior; it's kind of a pain to write all of that manually, since its very boilerplate-y. It could use the `APP_ID` and `metadata` to mark a comment as belonging to the app.

[2018-02-13 17:07] agbilotia1998 commented on #32
@gr2m can you please elaborate more on this?

[2018-02-13 18:24] gr2m commented on #32
I would follow what Twitter is doing: do not allow to edit a tweet. Once tweeted, the GitHub app could set CI status to false with an explanation.

What we could do is to support deletion, as twitter has support for that, too?

[2018-02-13 18:37] agbilotia1998 commented on #32
Okay @gr2m thanks! I will start working on this.

[2018-02-13 18:42] gr2m commented on #32
@agbilotia1998 awesome :) Note that we would like to reserve this idea for Summer of Code applicants, so please don't share your code publicly. But if you have clarifying questions, feel free to comment here

[2018-02-13 18:55] agbilotia1998 commented on #32
Okay @gr2m :)

[2018-02-13 20:20] gr2m commented on #34
let's discuss at https://github.com/probot/ideas/issues/22 :)

[2018-02-13 20:20] #34 closed

[2018-02-13 20:20] gr2m commented on #34
oh please excuse my manners. Welcome to Probot 👋

[2018-02-13 20:28] gr2m commented on #23
@anshumanv we will add more details today, sorry for the delay.

One thing that will be challenging is how to store the authentication token for twitter in the probot app. Ideally we would avoid to depend on a database and instead store the keys in a secure way in the repository.

To get started, I'd suggest you follow the guide to create the hello world application and deploy it to something like

[2018-02-13 20:29] gr2m commented on #35
maybe probot/friction would be a better place to discuss this?

[2018-02-13 20:36] anshumanv commented on #23
Ah, it's all cool, I'm having fun exploring the docs, experimenting, and seeing the awesome [apps](https://probot.github.io/apps/) that the community has build. :smile:

I don't seem to get the use-case of twitter authentication? Are we tracking whether the collab. is inactive on social media as well?

Sure cool, on it infact, it's so amazing to see that bots can be built in so few lines. :)

One

[2018-02-13 20:36] j-f1 commented on #23
The bot could store an encryption key, then provide a web interface for the user to paste their API token into and get the encrypted version. This could be safely stored in the repository and decrypted by the bot as needed (see Travis CI for an example of this)

[2018-02-13 20:40] JasonEtco commented on #23
@anshumanv Depending on the complexity of the app, it could definitely take that long (or longer). The ideas that we've suggested in this repo are open to interpretation, and in your application we are 100% open to other app ideas (even more ambitious ones)! Or, the project could be a suite of interconnected Probot Apps (like [Behaviorbot](https://github.com/behaviorbot)).

If you have another ide

[2018-02-13 20:47] anshumanv commented on #23
Thanks so much all for being so flexible, I'll surely reach out for any ideas/suggestions.
btw [behaviorbot](https://github.com/behaviorbot) is amazing. :smile:

[2018-02-13 21:37] gr2m commented on #23
oh my nevermind me, that comment was meant for #32, sorry sorry

[2018-02-14 02:27] zeke opened #36 "probot service registry"
Just a thought...

As a probot developer, I would like to submit my bot repository URL and have GitHub take care of running the service for me (rather than running my own on Heroku, Now, etc). This would take the burden off me as an individual to keep a bot service running, and give the community more confidence that the bots they're using will be consistently available (i.e. not sleeping, running

[2018-02-14 02:38] JasonEtco commented on #36
@zeke funny you should mention that, we've had the same thought many times. Glad to hear this point of friction is consistent!

This would be nothing short of game-changing. I'm not sure if we've shared this ask with the correct team - @bkeepers might have?

[2018-02-14 05:28] goelrohan6 commented on #23
Can someone help me getting started, how do I approach the problem, what are the prerequisites?

[2018-02-14 05:57] anshumanv commented on #36
It would be cool if this can be done, we can get rid of third party deployment platforms in that case. :smile:

[2018-02-14 07:45] vedantrathore commented on #30
@gr2m I was interested in solving this issue. I've checked out the conventional-changelog repo and will start working on the bot once I understand the preset option correctly, any suggestions on how to start this issue are highly appreciated.

[2018-02-14 10:02] itaditya commented on #32
Hi @gr2m I would like to work on this for Summer of Code.

[2018-02-14 11:18] itaditya opened #37 "Add a link to the GOOGLE_SUMMER_OF_CODE.md in README.md file"
Due to this, other students can easily navigate to the Ideas List page.

[2018-02-14 11:25] agbilotia1998 commented on #32
@gr2m I have sent you the invite link of the repository on which I am implementing this idea.Please accept it and monitor the progress and give some suggestions.Also please open issues on same repository regarding the functionalities that are to be added.

[2018-02-14 11:28] itaditya opened #39 "The links in the GOOGLE_SUMMER_OF_CODE.md files are wrong"
The links at the top which are used for navigating to particular topic is not working correctly. Clicking on the link should scroll the page down. However it is redirecting to a 404 page

[2018-02-14 15:55] mritunjaygoutam12 commented on #22
I seen https://github.com/angular/angular/issues/21884.
I know to work with github api's but not working experience for bot in github.

[2018-02-14 17:38] #39 closed

[2018-02-14 18:00] gr2m commented on #36
I would not get rid of third party deployments altogether, Probot should still work nicely with others, but the initial setup would be so. much. nicer.

Maybe we can build a probot app to deploy probot apps :D Install it your repo and then it gets continously deployes, sorta like GitHub Pages.

One challenge is the sharing of the private key and the secret, there is no simple way to do that as far

[2018-02-14 18:21] Ayush-Rawal commented on #6
Sounds interesting. I'd like to work on this one.

[2018-02-14 18:21] Ayush-Rawal commented on #6
Sounds interesting. I'd like to work on this one.

[2018-02-14 18:31] Ayush-Rawal commented on #6
@gr2m and @bkeepers I'd like to discuss more about this, who (also how and when) should I contact?

[2018-02-14 18:31] AshanthaLahiru commented on #6
As per my understanding, the contributor should receive a predicted time when to expect a response and this response can be obtained by a bot who analyzes the recent activities of the repository owner. I hope I got this right?

[2018-02-14 18:38] Ayush-Rawal commented on #6
@AshanthaLahiru I think it's about analyzing the recent activities in the repository rather than the owner, as there are others beside the owner who can review and merge PRs

[2018-02-15 00:45] AshanthaLahiru commented on #6
@Ayush-Rawal, Actually that's what I meant by using owner. Anyone who has push access to repository.

[2018-02-15 01:10] heshanpadmasiri commented on #22
I would like to work on this any suggestions on how the bot should behave if the mentioned issue where bots not being able to merge pull requests with protected branches

[2018-02-15 04:39] gr2m commented on #32
@agbilotia1998 sorry I can't give 1:1 feedback due to workload. Let's discuss questions to clarify the scope here so everyone can benefit.

@itaditya no need to ask for permission :) Everyone who wants to can use that idea to submit it to GSoC

[2018-02-15 05:55] itaditya commented on #32
Oh ok, so will you accept multiple interns for the same idea? @gr2m

[2018-02-15 10:55] apoorvaagupta commented on #24
Hi @gr2m ,
I find this issue quite interesting! I and my friend @bhavya14 would love to work on it.
We have already tried our hands on probot framework and created some of our own bots.

[2018-02-15 10:59] bhavya14 commented on #24
Hi @gr2m ,
I and @apoorvaagupta are looking forward to work on this promising issue and probot in the long run !!!

[2018-02-15 12:59] evertonfraga commented on #6
There are services like https://codetriage.com that helps people that want to contribute responding issues.
Maybe you could look only to issue activity metric.

Related: http://isitmaintained.com

[2018-02-15 14:34] Akshitaag commented on #3
Hii @bkeepers @gr2m
I find this issue pretty interesting and would love to work on this as a part of RGSoC 2018 with my teammate @rahmeen14

[2018-02-15 14:34] Rahmeen14 commented on #3
Yes! Akshita and I would love to take this issue up!

[2018-02-15 15:28] xbauquet commented on #27
The idea is really nice. But maybe the bot could give a few links about similar questions found on google with a message saying something like:

"Hi, Here are some links about related questions found on google. They could help you with your issue while waiting for an answer.".

This could help both the maintainers and the person that needs help. And it's kind of a nice way to tell them to search g

[2018-02-15 15:33] Akshitaag commented on #27
Thanks! That's a great add-on to our idea.We will surely incorporate this too in our idea. :)

[2018-02-15 15:55] Ayush-Rawal commented on #6
@evertonfraga Thanks for the link isitmaintained is a nice discovery though I'm unsure how codetriage fits into this, maybe I'm missing something?

[2018-02-15 16:42] AshanthaLahiru commented on #6
Thank you @evertonfraga for sharing it. Checked it out.  I think it will be helpful.

[2018-02-15 17:03] AshanthaLahiru commented on #6
I just tried out some implementation part out of curiosity. This is the link of the repo https://github.com/AshanthaLahiru/sert.git .
Basically this generates comments once a pull request is detected. Now I'm trying out the part where we have to analyze user’s activity. Am I doing it the correct way?

[2018-02-15 17:37] vaibhavchellani opened #41 "Allow making new pull requests directly through comments in an issue"
Allow users to make a PR by specifying the details of a PR and simply clicking the comment button which will post the PR , the comment , and link the issue and PR directly .

[2018-02-15 18:45] gr2m commented on #32
if the applications are great, of course :)

[2018-02-15 18:46] gr2m commented on #24
welcome to Probot :) Let's use this issue to ask questions about how the bot could work so you can use it for your application

[2018-02-15 18:47] gr2m commented on #3
Please go ahead :)

[2018-02-15 18:58] gr2m commented on #6
@AshanthaLahiru as folks use this issue to submit for Google / Rails Girls Summer of Code, please don't yet link to any code until after submissions are done. Sorry for the confusion, we will update the issues to clarify that

[2018-02-15 19:01] anshumanv commented on #6
@gr2m so can I send you a collab. request to get feedback for that matter? :smile:

[2018-02-15 19:02] gr2m commented on #6
I'm afraid we cannot do 1:1 support, we don't have enough time for it. You can work on the implementation and if questions come up of how the bot should work, ask here so everyone can benefit :)

[2018-02-15 19:05] anshumanv commented on #6
Sure cool, I can understand, I'll do accordingly. Then there's also the slack channel. :)

[2018-02-16 03:29] AshanthaLahiru commented on #6
@gr2m That is my bad. Thank you for mentioning it. Will proceed it that way.

[2018-02-16 06:45] vaibhavchellani opened #42 "Voting system for issues"
In large repos  the maintainers usually have to go through a lot of issues , some of which are legit whereas others are very trivial or don`t require the immediate attention of maintainers and can be solved by anyone. I was thinking if its possible to add a label when an issue receives certain number of thumbs up  showing that many users are facing this issue .
The maintainers would be able to sor

[2018-02-16 11:39] j-f1 commented on #42
How about 👍 - 👎 as the criterion?

[2018-02-16 12:57] Rahmeen14 commented on #3
Hi! We were brainstorming about this issue and had a few questions the most important among them being that who will be designing the templates we need the bot to enforce? Will it designed by us being the authors of the bot or are we going to ask the org/owner of repository that's installing the bot to give their own personalized template?

[2018-02-16 12:58] AshanthaLahiru commented on #6
When it comes to analyzing part do we have to only consider the time the person takes to respond to previous pull requests? or do we count all the related activities he does in the repo? As I feel we should take in to account all the activities but it might depend on the person. Could you give me a heads up?

[2018-02-16 13:21] vaibhavchellani commented on #42
yes , but i had thought of putting a label on the issue according to the number of thumbs up , so that we can directly search using the label .

[2018-02-16 14:03] j-f1 commented on #42
@vaibhavchellani There is a way to sort by number of 👍 reactions: [`sort:reactions-+1-desc`](https://github.com/probot/ideas/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).

[2018-02-16 14:04] j-f1 commented on #42
You can also sort by total number of reactions: [`sort:reactions-desc`](https://github.com/probot/ideas/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-desc).

[2018-02-16 15:49] evertonfraga commented on #6
@Ayush-Rawal

A given issue can be responded by anyone other than the maintainers. IMO you could account for issues without any kind of response, instead of replies from maintainers.

The link I sent is a service that puts "random people" to respond issues.

[2018-02-16 15:50] vaibhavchellani commented on #42
okay thanks ! i think i can close this then .

[2018-02-16 15:50] #42 closed

[2018-02-16 19:58] gr2m commented on #6
"response time" to me is the time until someone who is contributor of the repository or the organization gets back to an issue. I would not count comments from other people because these could often times be other users confirming that they have the same issue. It also creates an incentive to invite more people as contributors to the organization / repository when they try to help out others, so t

[2018-02-17 02:16] AshanthaLahiru commented on #6
@gr2m , I'm sorry i didn't  understand it properly. Is this what you meant? when the users comment that they have the same issue we should not calculate the response time, but if they are trying to help with the issue then we should count the response time. Correct me if i'm wrong? Thanks in advance.

[2018-02-17 07:09] gr2m commented on #6
I would not differentiate based on what the user write, but based on wether the user has been added as contributor to the repository (either directly or via the organization)

[2018-02-17 08:00] AshanthaLahiru commented on #6
@gr2m , Thank you for the clarification. I will proceed accordingly and let you know if there is anything.

[2018-02-17 15:22] tcbyrd commented on #3
@Rahmeen14 The way I could see this working is for the app to respond to the `issues.opened` or `pull_request.opened` event, then compare the `body` of that payload to the `ISSUE_TEMPLATE.md` or `PULL_REQUEST_TEMPLATE.md` in a target repository. This means you shouldn't have to know exactly what the template looks like ahead of time, but the template would need to be written in a way that the bot

[2018-02-17 16:55] Rahmeen14 commented on #3
That clarifies a lot of things! I'll certainly check the Todo App and also the Atom Repo format! Will revert in case I still have doubts! Thank you so much!

[2018-02-18 09:31] subrat-sahu commented on #24
Hey @gr2m,  Can I still work on this issue?

[2018-02-18 23:40] gr2m commented on #24
@subrat-sahu sure, just please don't share any code until after March 27th when both the Rails Girls & Google Summer of Code application deadline has passed :)

If you have any questions or would like to discuss how it could work just comment here

[2018-02-19 03:42] subrat-sahu commented on #24
I am a GSOC'18 aspirant btw. :) .
Can you Just give me a vague idea of how should I begin with, I have read the docs and tried my hands on it.

[2018-02-19 03:55] anshumanv commented on #24
@subrat-sahu you can go through the docs [here](https://probot.github.io/docs/) and get started by building some basic probot apps that you like, consequently, you can check out the awesome apps that the community has built, Have fun! :smile:

[2018-02-20 01:04] clarammdantas commented on #32
Hi! :)
I would also like to work on this. @agbilotia1998 can you invite me too to contribute?

[2018-02-20 01:10] gr2m commented on #32
y'all can all use the idea for your submissions to Google Summer of Code & Rails Girls Summer of Code :)

[2018-02-20 07:24] ashifa454 commented on #23
Seems Pretty Interesting, will there be an option to active contributors to invite alumni to back if he wants to contribute again.

[2018-02-20 07:29] ashifa454 commented on #23
and a config file would be a good option to manage things like the MAX time without activity, marks some contributors to alumni from the day of setup.

[2018-02-20 10:29] itaditya commented on #6
What I gathered is, only the contributors comments should be counted. The issue author and other people should be taken into consideration

[2018-02-20 11:14] anshumanv commented on #23
Yes, certainly I like the idea of the config file to set preferences. :+1:

We can just invite anyone in the alumni team back to the collab team once they show any activity?

[2018-02-20 11:35] ashifa454 commented on #23
Or just to make it more systematic, we can simply add MIN number of Push Required to come back again in collab team, so in that sense, config file would be a centralized configuration area to /PER repo.

[2018-02-20 11:36] anshumanv commented on #23
Yeah makes sense.

[2018-02-20 15:59] AshanthaLahiru commented on #6
@itaditya , That makes sense. Thank you for the input.

[2018-02-21 04:38] gr2m commented on #23
better to say "... if they want to contribute again" as we can't assume gender ;)

That is a good question. Moving inactive users into an "alumni" group that has only read access has also a security implication: if their account ever gets hacked, they can't do much harm without write access, and the amount of GitHub accounts with write access will get reduced a lot with this bot. So I would not mo

[2018-02-21 05:11] anshumanv commented on #23
Either way is fine to start out with though, I think that is something that will show its usefulness once more folks use it :)

Agreed, I'll keep these points in mind.

[2018-02-21 05:13] ashifa454 commented on #23
Just to Move it Forward, what I can draw from last few messages _create-probot-app_ will add new entries in the .env file in the environment for
1. **MAX_TIME_WITHOUT_COTRIBUTION** (MAX Number of Days an active contributor can be collaborator without collaborating)
2. **INITIAL_ALUMNI** (IF I want to mark some users to be alumni from the day of installation)
3. **EVENTS_TO_BE_CONTRIBUTOR** (Hooks

[2018-02-21 08:46] itaditya opened #43 "Background Check Project for GSOC"
Idea - Each time someone comments on something in a GitHub repository, the github app checks if the user is new to the project. If they are, the bot loads the most recent ~100 comments and runs a sentiment analysis on it. If any of the comments stand out as aggressive then create an issue in a private repository or a discussion for a configurable team to point the maintainers to the new user’s com

[2018-02-21 16:47] gr2m commented on #43
Thanks, I meant to make an issue for that 👍

[2018-02-23 17:21] bogas04 opened #44 "Update duplicate-issues to also post some open PRs for the issues"
I understand that duplicate-issues isn't quite ready yet, however we can update it a bit to be more helpful while its search logic is tweaked.

We can provide links to opened and even merged PRs of the duplicate issue set, this helping both OP & maintainer from looking for them.

[2018-02-23 17:30] bogas04 opened #45 "probot-translate-comments"
Detect language of commenter/OP and translate it using Google translate/Bing, or at least post link to it (if APIs aren't open/rate limited).

Default languages (not to translate) can stored as a closed issue, which the bot can look up for.

Something like:
"probot/translate-comments/default-languages en-us,es"

[2018-02-23 17:34] JasonEtco commented on #45
This is an awesome idea! I'd love to see auto-detect so that it just works passively. Maybe a config file to denote the destination language for that repo? And even using `<details>` to say "Translate from ____"

[2018-02-23 17:38] bogas04 commented on #45
Hi @jasonEtco,

Thanks for taking time to read this through. I didn't like the idea of config file as it's kinda intrusive to the codebase, I mean JS world is going #0CJS lol. I guess you misunderstood the closed issue thingy. So the maintainer can create an issue with some format, which probot app can fetch and parse to get required stuff. This way it doesn't affect the code base/commit lot and c

[2018-02-23 17:48] JasonEtco commented on #45
Typically, config files for GitHub/Probot Apps are stored in the repo's `.github` folder, so the codebase isn't touched much and it'd be handled in one commit.

Personally, I'd rather have my project's config as part of the codebase than somewhere in an issue that is liable to get lost, but its up to you 🤷‍♂️

For what its worth, `#0CJS` is awesome, but that doesn't mean it shouldn't be configurab

[2018-02-23 17:53] bogas04 commented on #45
Oh, I wasn't aware that we already use config files in certain cases, in that case let's go with a config file. Yeah, the issue thing is kinda hacky anyway.

Regarding defaults, while English is good enough, we can probably do slight search to figure that out as well. The major pain point would be to detect what language given string is in. Once we settle for its logic/npm module, we can use same

[2018-02-23 17:54] JasonEtco commented on #45
That'd be really, really cool! Since it'd be per repo, and you wouldn't want to do that search on every comment, you'd probably want to have the app make a PR adding the config file when its installed. This also has the benefit of introducing the maintainers to the app, and to have them check to make sure that the proposed language is correct, as a second human check.

[2018-02-23 18:00] bogas04 commented on #45
Amazing!

Plan:

* onInstall: raise a PR adding a config file with set defaults.
  * Figure out default language (destination language) for the repo from commit history. Multiple languages can be added in case maintainers are bilingual.
* onMerge: Once merged, comment on same PR in some foreign language just to test.
* Use `<details>` to have cleaner comments instead of spamming the thread with pa

[2018-02-23 18:08] Rahmeen14 commented on #45
Hi! My teammate @Akshitaag and I would love to take this issue up as a part of our RGSoC proposal!
Additionally @bogas04 is our coach for RGSoC so we'll have a great time making this bot! :)

[2018-02-23 18:10] Akshitaag commented on #45
Yes, we would love to work on this issue. @gr2m what are your thoughts?

[2018-02-23 18:17] bogas04 opened #46 "probot-all-contributors"
You might know about this "standard":
https://github.com/kentcdodds/all-contributors

I've observed that maintainers of supporting repos keep asking new contributors to add themselves to the list, a bot can do this for them.

Very simple and basic bot.

[2018-02-24 20:25] gr2m commented on #45
Sure, fee free to add it to your submission :)

[2018-02-24 20:26] gr2m commented on #46
I was thinking about adding an issue for that, thanks for beating me to it Divjot :)

[2018-02-26 19:19] reshusinghhh opened #47 "probot-project dictionary"
Some key terms used in project are defined by bot as a one-liner then and there as and when. And relevant links for info be added too.

[2018-02-26 19:39] gr2m commented on #47
Can you explain on an example how that bot would work?

[2018-02-26 20:02] JasonEtco commented on #22
I don't think that an app _should_ be able to bypass protected branches. Those are typically very sensitive branches where things would break if merged incorrectly, and I think that folks would be upset to see an app ignore their intentional decision to treat that branch more carefully.

[2018-02-26 20:50] zeke opened #48 "idea: semantic pull request titles"
Yo, proboteers! 🙌

We're using semantic-release all over the @electron org, and we want to start putting more checks into place to prevent accidentally shipping pull requests that are missing semantic commit messages. Occasionally we end up having to open fake PRs with zero changes just to trigger a release.

@groundwater had a cool idea about how to solve this: What if we could just require that

[2018-02-26 21:04] gr2m commented on #48
I usually use the squash & merge button if the commit messages don’t follow the commit conventions.

I don’t think that semantic-release is looking at the title of a pull request at all, it only looks at commit messages right now

[2018-02-26 22:33] zeke commented on #48
That's what we do too, but we have dozens of contributors so it's harder to spread the lore.

Does it matter if semantic-release is looking at the title? If merging or squashing, the PR title becomes the default commit message.

[2018-02-26 23:27] j-f1 commented on #48
You could always disable all of the other merge options :)

[2018-02-26 23:36] zeke commented on #48
We've talked about that, but everyone has a special case where one flavor of merging is more appropriate. In any case, even if we did disable the other options, it still wouldn't actually check that the PR title is semantic.

[2018-02-26 23:54] zeke commented on #48
Work in progress: https://github.com/probot/semantic-pull-requests

Works on my machine!

Failing:

<img width="802" alt="screen shot 2018-02-26 at 3 52 35 pm" src="https://user-images.githubusercontent.com/2289/36702733-27eb8a82-1b0d-11e8-946f-8697af711592.png">

---

Prepend "fix: " to the title and now it's passing. 🎉

<img width="792" alt="screen shot 2018-02-26 at 3 51 18 pm" src="https://use

[2018-02-27 01:43] rsarky commented on #22
Protected branches refer to branches with some restriction on who can push to the branch.
Isn't that the case for most branches?

[2018-02-27 05:34] JasonEtco commented on #17
Closing, long live [ci-reporter](https://github.com/apps/ci-reporter) 🎉

[2018-02-27 05:34] #17 closed

[2018-02-27 08:19] reshusinghhh commented on #47
Just checked the previous issues,closely related to Google-this one. But instead bot gives one-line or relevant short info along with the links too. :) I don’t know whether it’s feasible or not. :)

[2018-02-27 08:40] aishanya11 commented on #20
Really interested in implementing this idea, will like to work on it.
P.S: Rgsoc aspirant. Will like to include this idea in my proposal. Team- dotJS

[2018-02-27 15:14] domcorvasce commented on #20
Feel free to work on it

[2018-02-27 18:07] gr2m commented on #47
I’m pretty sure it is possible to implement. I’m not yet sure how useful it is but hey, if you’d enjoy building this just for fun, why not, more often than not something cool comes out of it!

[2018-02-27 18:54] rsarky commented on #30
So as far as I understand this the use case for this is limited to projects that have documentation on their repo. If they have documentation hosted somewhere else I don't think this will work. @gr2m

[2018-02-27 19:13] gr2m commented on #22
@JasonEtco it’s not about working around protected branches, it's about automated branches once all the checks are green

[2018-02-27 19:17] jainkeval commented on #41
I will like to work this.

[2018-02-27 20:44] JasonEtco commented on #22
I see - I guess it depends on the level of protection (which is ultimately up to the user). One available option is the only allow merges with at least 1 green review from someone with write access; I think that as long as that protection isn't ignored then its all good. I only bring it up because I'm not sure if that's considered a "status."

[2018-02-27 21:32] aishanya11 opened #49 "/ff"

[2018-02-27 21:33] #49 closed

[2018-02-27 22:58] vaibhavchellani commented on #41
I would like to work on this too

[2018-02-27 23:33] gr2m commented on #41
I’m curious what you come up with

[2018-02-28 11:09] SamithDB commented on #43
Interesting Idea...  I also like to work on this..  @itaditya @gr2m

[2018-02-28 12:12] siwaniagrawal commented on #30
I would like to claim the task for my RGSoC 2018.
I will be adding the detailed execution plans in the proposal and also updating the same here in the issue.  @gr2m

[2018-02-28 12:30] rsarky commented on #22
Sadly the GitHub API doesn't support GitHub apps merging pull requests with protected branches yet. @JasonEtco

[2018-02-28 15:53] copperwiring commented on #43
Hi @gr2m and @itaditya. I would like to claim this issue as my project direction for RGSoC 2018. I have familiarity with GitHub webhooks and have always wanted to build on top of it.

[2018-02-28 20:53] gr2m commented on #43
@SamithDB we reserve the issues with the `Summer of Code` label for participants in Google Summer of Code & Rails Girls Summer of Code. Everyone can use it for their application. Of course you can work on it, just don’t share any code if possible until April when the application deadline has passed.

@copperwiring good luck :) If your team gets accepted we’d be happy to work on it with you during

[2018-02-28 20:55] gr2m commented on #30
@siwaniagrawal good luck :) If your team gets accepted we’d be happy to work on it with you during the summer.

Just to clarify, everyone can use the app for their application (both RGSoC & GSoC)

[2018-02-28 20:55] gr2m commented on #30
@rsarky the README file counts as documentation, but yeah, it won’t be applicable to every project, which is the case for most GitHub apps :)

[2018-03-01 01:55] zeke commented on #22
I found the internal GitHub issue for this and gave it a little bump. It's a known issue, GitHubbers are aware that integrators are frustrated by it, and a solution is actively being discussed. I'll report back here with any updates.

[2018-03-01 06:48] rsarky commented on #22
@zeke That's awesome.Thanks

[2018-03-05 08:37] Ikuyadeu opened #50 "idea: similar code search in Pull Request"
Hello, thank you for good bot framework and good chance to join the developing bot.

I developed on my local.

For check with PullRequest submitter forgot to change the similar code.
This function searches similar code with deleted lines.

Is it fitted for your GSoC topic?

[2018-03-05 18:35] AshanthaLahiru commented on #6
Tried little bit of the implementation of analyzing the response time. When taking the response time for a newly created issue what i thought of doing was to calculate the average response time of the initial responses given by the contributors of the repository or the organization to previous issues. Is it the correct way?

[2018-03-05 22:00] gr2m commented on #6
Yeah sounds like a good start. I think this bot has lots of room for experimentation, once we have something working, I would install it on a repository and see how it works

[2018-03-05 22:02] gr2m commented on #50
yeah sounds good :)

[2018-03-06 00:50] Ikuyadeu commented on #50
@gr2m Thank you for interest.
I published https://github.com/Ikuyadeu/similar-code-searcher

[2018-03-07 02:13] gr2m commented on #32
I haven’t looked into it in detail but that project sounds like it might be related: https://github.com/mozillach/gh-projects-content-queue

[2018-03-07 04:00] aps120797 commented on #32
The project sounds similar. And gives us ideas of some more features that one can work out while working on this project.

However, The project appears to be Mozilla (Possibly mozillach) only so far. [(See Features>Bullet No. 10)](https://github.com/mozillach/gh-projects-content-queue/blob/master/README.md).

Here's a issue **[Be a GitHub Integration #77](https://github.com/mozillach/gh-projects-c

[2018-03-07 10:35] aryannarora commented on #30
Hii @gr2m , i found this issue very interesting and i would like to work further on this during summers.

[2018-03-07 12:40] ameerthehacker opened #51 "Auto labelling issues"
Whenever someone creates an issue we can use __NLP__ techniques to identify whether it is a question, enhancement, bug etc. Based on the sentiments we can also add labels whether it needs immediate attention or much more like that. I would like to work on this and can't wait to get myself started on this.

[2018-03-07 13:58] svensevenslow commented on #24
Hi! I am interested in working on this idea for GSOC. I was wondering if the summary will be provided by updating the README.md file every week for the repo or do you have something else in mind? Also will it be required for all weekly digests to be stored somewhere(like in some other repo) for reference later or do you have a different view about this?

[2018-03-07 16:09] rsarky commented on #24
Hey @svensevenslow . I am also working on this as a part of GSOC. The bot will basically open a locked issue where it would comment out the weekly digests.

I don't think we explicitly need to store the data somewhere as it is already available in the comments.

Hope this helped. :smiley:

[2018-03-07 16:53] rsarky commented on #14
Where exactly does the app need to be improved? Are there any examples where the app doesn't work as it is supposed to? @bkeepers

[2018-03-07 18:02] gr2m commented on #51
Keep us posted, sounds like a fun experiment

[2018-03-08 13:50] ameerthehacker commented on #51
@gr2m I  have started working on the NLP idea and have an experimental app to detect and label questions and post a reply to it. Do check it out here https://github.com/apps/question-tagger, You can experiment it here too https://github.com/ameerthehacker/probot-question-tagger-demo/issues

[2018-03-08 14:33] AshanthaLahiru commented on #6
@gr2m , I completed this part.

 Shall I share the application with you so that you can install it and see how it works with a repository?

[2018-03-08 14:37] aryannarora commented on #30
Hey @gr2m, i have some ideas on this issue. Should i discuss them here or p2p on slack channel?

[2018-03-08 17:52] siwaniagrawal commented on #46
I and my teammate @alishamohanty would like to claim the task.
We will be updating the detailed execution plan here in the issue :)

[2018-03-09 00:34] bkeepers commented on #14
- The matching algorithm is very crude. Ideally it would to use some more sophisticated machine learning, but I don't exactly know what that would be
- Performance is not great because it doesn't persist the training data, so it has to fetch all issues whenever a new issue is open

[2018-03-09 14:14] rsarky commented on #14
So no fuzzy searching? There are some options like [https://www.npmjs.com/package/string-similarity](url) and [https://www.npmjs.com/package/similarity](url) but they don't use complex ML algos. I don't think we need ML for this application.

We can maintain a issues array and whenever a new issue is opened push that issue into the array so that all the issues need not be fetched everytime?

[2018-03-09 16:13] kaus2595 opened #52 "Branching Issue"
Sometimes when multiple branch is created and master branch is behind other branches than comparison shows empty result between the master branch and other branch. This also **leads to merging issue between the master branch and other branches.** Bot may be able to merge the automatically when asked by the user and comparison should be done by the bot on the basis of Time Stamp of branches.

[2018-03-10 01:25] 2pen commented on #30
###

Does that mean conventional-changelog can parse commit messages from github?I didn't find the way to catch the commit messages from github using this module? Can it only be used to parse my local repostory's commit messages in my computer?I may not understand this issue and wish for any suggestios.........

[2018-03-10 01:53] gr2m commented on #30
@aryannarora let’s discuss here :) Only if you start coding maybe keep to yourself, we can help if you need to create a private repository. If you are student, you can sign up for the [Student Developer Pack](https://education.github.com/pack) which gives you private repositories for free

@2pen you’ll have to fetch the commits using [GitHub’s REST API](https://developer.github.com/v3/), see https

[2018-03-10 17:54] aryannarora commented on #30
@gr2m Thanks a lot for offering to help with the private repository. 😃
I do have GitHub Student Developer Pack and it's so amazing. Love GitHub. ❤️
Also, I'm starting to work on a prototype for this issue and i'll share it soon. Can't wait. 😆

[2018-03-10 18:05] gr2m commented on #6
sure :)

[2018-03-10 18:24] AshanthaLahiru commented on #6
https://github.com/apps/sert

For testing purpose I have considered the action of contributor creating a issue as well.
Thanks in advance. :smile:

[2018-03-10 19:14] gr2m commented on #6
can you add some more documentation to it? I don’t know how to test it right now :) Could you invite me to the repository, too?

[2018-03-10 21:03] AshanthaLahiru commented on #6
Sure :smile: , I have sent you an invitation for the repository. You can test the app simply by crating a new issue. Then it will generate a comment giving the expected response time.

[2018-03-11 17:49] jainkeval commented on #41
https://github.com/apps/pr-on-comment check this :-)

[2018-03-11 19:06] gr2m commented on #41
@jainkeval I’ll check it out :)

What’s usually very helpful is to create a gif of how the bot works. You can use the free Kap app to record a gif: https://getkap.co/

E.g. see my WIP bot for an example: https://github.com/apps/wip

[2018-03-11 19:39] gr2m commented on #41
Tried it at https://github.com/gr2m/sandbox/issues/31, no luck. Do you a repository where I can see it working?

[2018-03-11 20:22] jainkeval commented on #41
@gr2m there is nothing to compare where you are trying.
![image](https://user-images.githubusercontent.com/26284185/37258040-b08dc8d4-2597-11e8-95ff-aa073f99f0a6.png)

Yeah, you may fork this repo https://github.com/jainkeval/trial-one

[2018-03-11 20:59] gr2m commented on #41
sweet, worked now: https://github.com/gr2m/sandbox/pull/32 👍

[2018-03-12 04:28] Ikuyadeu commented on #50
I published prototype on <https://github.com/apps/similar-code-searcher> !
If someone has a time, I would submit a draft proposal.

[2018-03-12 06:49] jainkeval commented on #41
What am I supposed to do now?

[2018-03-12 15:20] inishchith commented on #24
@gr2m  is there any way we could get our proposal reviewed before the deadline via email / docs ? 😄

[2018-03-12 17:32] gr2m commented on #24
yes, if you have your proposal ready, please ping me or the other mentors in our slack, in the `#summer-of-code` channel, we will make a private room for you and the mentors where you can share the link to your proposal (ideally a google doc that we can comment on)

[2018-03-12 17:33] gr2m commented on #41
@vaibhavchellani do you have any feedback for @jainkeval? Maybe you two want to collaborate to make it better?

I don’t have a use for that bot myself so I can’t give much more feedback I’m afraid.

[2018-03-12 18:18] svensevenslow commented on #24
@gr2m Hi! I was wondering if I want to count the number of comments made by a user in a certain period of time in a certain repo, what would be the correct way to go about it.

[2018-03-12 18:29] gr2m commented on #24
I’m sorry I don’t quite understand your question? I think a weekly digest could for example highlight issues that had the most activity in the past week, independent of a specific user. Does that answer your question?

[2018-03-12 18:34] svensevenslow commented on #24
If we need to give shoutouts to recurring contributors, won't that be user specific?

[2018-03-12 18:44] gr2m commented on #24
ah yes, to give shout outs for recurring contributors then you want to do that. Instead of "certain repo" you can just do the repo that the app is installed on :)

[2018-03-13 15:57] AshanthaLahiru commented on #6
@gr2m  , any feedback on previous development? :smiley:  As my next step I thought of including configuration options which can be used to define what we should take into account when calculating response time. For an example in issues, what should be considered open issues or closed issues or both of them. Is there anything else I'm missing? I would be glad if you can give me some suggestions.

[2018-03-13 16:17] gr2m commented on #6
Do you have it installed on a test repository where we could give it a try without installing? It didn’t work on my own test repo but I guess that’s a feature, as I’m the maintainer myself not an outside contributor? https://github.com/gr2m/sandbox/issues/33

[2018-03-13 16:20] gr2m commented on #6
@AshanthaLahiru oh wait it worked now :) The "1 minutes" is rather optimistic though :D maybe this is not the best repository to test it on though

I would suggest to change the wording. Instead of saying "someone will get back to you within x minutes" I’d say something like "based on past issues, someone will get back to you within x minutes"

[2018-03-13 16:41] AshanthaLahiru commented on #6
Cool :D, Yes @gr2m , I think that is because of the bot only consider the responded issues to calculate response time. In this case all the responded issues are commented by a contributor at the same time. :smile:

Noted, I will change the message accordingly.

You can check in this repo.
https://github.com/AshanthaLahiru/Blog/issues

[2018-03-14 02:28] grrowl commented on #35
Would love this — my initial idea (not knowing about metadata) was to comment with a `` and load comments until one by the current user with that marker was found

[2018-03-14 09:21] 2pen commented on #24
@gr2m I am writing my proposal, i find a question. How to create a comment about the digest in a specific time automatically? For example, the robot will create a comment containing weekly digest at 00:00 on Sunday. But, in that moment, the robot can't catch any event and can't get the "context" to create comments. So does that mean it is necessary for the user to create a comment such as "Weekly

[2018-03-14 13:43] nikramakrishnan commented on #6
Hi, I am really interested in some of these projects and I would really like to apply for one of them for GSoC. I can see that most of these projects have already been built to some level by students. Isn't the coding part supposed to start after the selection process?
What will they be doing during the summer? Also, do the students who have almost completed/in the process of working on an issue h

[2018-03-14 23:25] gr2m commented on #6
@nikramakrishnan hello Nikhil, welcome to Probot 👋

Yes. We ask students not to share their work on the ideas labeled with `summer-of-code`. But we encourage discussion and if people already want to work on them that’s fine with us, as long as they don’t share their code

There are many more ideas :) We expect the GSoC students to work full time on Probot for the time. If they apply with a project

[2018-03-14 23:26] gr2m commented on #24
@2pen yeah that is a tricky part :) Maybe look at how other apps are doing it that have a time-based functionality, such as https://probot.github.io/apps/stale/ or https://probot.github.io/apps/reminders/

[2018-03-14 23:27] gr2m commented on #35
@grrowl sounds like a good plan to me :)

[2018-03-14 23:34] JasonEtco commented on #35
@grrowl that'd likely be the right implementation - I think the challenge is around designing a good looking API. I don't think it should be part of Probot, but would make a nice third-party lib (or even an Octokit plugin, what do you think @gr2m?)

Something like:

[code]

[2018-03-14 23:42] gr2m commented on #35
sounds like a great plan to me :) `@octokit/rest` plugins API is still work-in-progress but they already work. See https://github.com/octokit/rest.js/tree/master/lib/plugins for some info and reference plugin implementation. You could create a repository/npm package for the plugin and then load it like this

[code]

I’m not yet sure how you’d load the plugin in Probot though? @JasonEtco is `robot.

[2018-03-14 23:46] JasonEtco commented on #35
That's a good point. We'd need to load the plugin in the handler itself I guess? We don't currently expose the GitHub client until its created in `robot.auth` (as part of `robot.on`). An interesting conversation though, as Octokit plugins become more mature we'll definitely want to help folks out in that area.

[2018-03-14 23:49] gr2m commented on #35
Either way I think @grrowl you can start creating the plugin, we will figure out how to get it into probot later :)

[2018-03-15 03:41] anshumanv commented on #24
Use [this](https://www.npmjs.com/package/probot-scheduler) package to trigger events on a periodic schedule. @2pen :smile:

[2018-03-15 04:39] 2pen commented on #24
@gr2m @anshumanv Thanks!!

[2018-03-15 09:13] pranay414 commented on #19
@bkeepers @JasonEtco Can I take it up as part of GSoC?

[2018-03-15 09:19] anshumanv commented on #19
Here's some alternative which works well - https://github.com/orgmanager/orgmanager

[2018-03-15 13:28] knrt10 commented on #6
@gr2m if we send the proposal in this issue will it still be considered.

[2018-03-15 13:37] knrt10 opened #54 "Multiple issues in single GSOC proposal"
Can we combine multiple issues in a GSOC proposal ?
For example:-
<a href="https://github.com/probot/ideas/issues/6">#6</a> and  <a href="https://github.com/probot/ideas/issues/32">#32</a> combining them in a single proposal? Thanks in advance.

[2018-03-15 14:24] gr2m commented on #54
yes :)

[2018-03-15 14:24] #54 closed

[2018-03-15 14:25] gr2m commented on #6
Yes

[2018-03-16 15:03] aps120797 opened #55 "A Gamification Bot"
The concept behind the bot is **[Gamification](https://en.wikipedia.org/wiki/Gamification)**.

In simple terms, gamification will encourage more users to contribute and work with the repositories.

**How will this be implemented?**
This could be implemented by using bot, built on Probot and possibly, `.github/config.yml` for storing points. For example, a bot will be maintain a points depending on

[2018-03-16 15:22] pranay414 commented on #22
@zeke I would like to work on this. I have completed hello-world bot. How should I get started for this?

[2018-03-16 15:26] knrt10 commented on #55
@aps120797 this is really a nice idea!!

[2018-03-16 16:26] itaditya commented on #55
@aps120797 [sendgrid](https://github.com/sendgrid?page=2) did something just like this for maintaining a leaderboard during hacktoberfest.

[2018-03-16 16:40] zeke commented on #22
@pranay414 GitHub folks are actively working on a fix for the bot permissions problem, but it hasn't shipped yet. I will post here when that happens.

[2018-03-16 16:42] pranay414 commented on #22
@zeke so should I start drafting a proposal for this?

[2018-03-16 16:46] zeke commented on #22
@pranay414 sure. If you want to outline the expected behavior that could be helpful.

[2018-03-16 17:55] aps120797 commented on #55
@itaditya , Yeah, they made a leader-board of the organisations getting most contribution from the users participating in hacktoberfest, i remember, FCC topped that list. 😄

[2018-03-16 17:57] aps120797 commented on #55
Yeah, but this idea is a little different.. Here.. points ad achievements will be awarded to users for there contributions..

[2018-03-16 19:22] itaditya commented on #55
I just said it, to give some validation to your idea. I meant that this may as well be a common requirement for many.

[2018-03-16 19:26] gr2m commented on #55
I think I’d rather not reserve it for GSoC, but find a team of people passionate about the idea and then collaborate on it. I personally have reservations against gamification in open source communities, or volunteer communities in general, but I love experimentation and see what comes out of this :)

@aps120797 could you please remove the mention of the game from your comment. It does not add rel

[2018-03-16 19:43] aps120797 commented on #55
@gr2m Removed the mention of the game from the comment. Thanks. 😄

[2018-03-16 20:03] rsarky commented on #55
@aps120797 I kid you not I was thinking about this a while back :astonished:
This is an awesome idea in principle but I think what might happen is people might forget the spirit of open source code in order to get more points. This means stuff like spamming comments or issues to get more points and other stuff along those lines.

[2018-03-16 20:04] rsarky commented on #55
@aps120797 I would love to collaborate with you on this sometime if you want?

[2018-03-16 20:16] pranay414 commented on #22
@zeke when someone submits a PR then it is put into testing and once all checks are passed then it should be merged or it should be reviewed by someone and then merged?

[2018-03-16 20:18] rsarky commented on #22
@pranay414 One of the status checks will probably be getting the PR reviewed.

[2018-03-16 20:20] pranay414 commented on #22
@rsarky so once it is reviewed then it should be merged right?

[2018-03-16 20:22] rsarky commented on #22
@pranay414 Once all the status checks pass. The status checks may include CI, reviews etc.

[2018-03-16 20:23] pranay414 commented on #22
Ok got it, Thanks :)

[2018-03-16 20:35] rsarky commented on #13
@zeke Maybe we could extend the functionality of `release-notifier` to also comment on issues that have been fixed as a part of  a release?

[2018-03-16 20:54] zeke commented on #13
Good call, @rsarky. I've opened an issue here: https://github.com/release-notifier/release-notifier/issues/23

[2018-03-17 05:09] aps120797 commented on #55
@rsarky , yeah, I was also worried about the spams. However, I think, if it is implemented in a proper, this could be a cool experiment. I will let you know when I will start working on it. Currently, waiting for more users to show interest. 😄

[2018-03-17 08:33] OMENSAH commented on #30
@gr2m, Has this project being taking already?

[2018-03-17 09:24] jainkeval commented on #55
@aps120797 I would also like to collaborate with you!

[2018-03-17 16:18] gr2m commented on #30
@OMENSAH everyone can use this project for their GSoC proposal, it’s reserved for exactly that purpose :)

[2018-03-18 10:29] choznerol opened #56 "🔎 Find-and-Replace-Bot: let bot submit typo-fixing PR for you!"
# What to solve?

Fixing typos and adjust wording is the most tedious thing for developers in the world. So why not let the bot do it?

# How it works?

The idea is simple: When an issue contains `/replace 'foo' with 'bar'` is created, the bot will go look for all `foo` in the repo and starts a PR to replace all of them. The workflow would be like:

### STEP 1: Open an issue with keyword `/replace

[2018-03-18 11:40] anshumanv commented on #56
I totally like the idea :+1: :smile:

[2018-03-18 12:01] choznerol commented on #56
Hi @gr2m I plan to apply for GSoC 2018 with this as the proposal, I would be appreciated to know what you and the team think about it :)

[2018-03-18 12:05] iamgrawal commented on #32
@gr2m Can you please elaborate this "Tweets are simply files in a repository", not able to get that.

[2018-03-18 12:45] aryannarora commented on #30
@gr2m I was thinking we use GitHub Markdown API with documentation. This way the documentation would be converted to html and we would easily be able to query for heading to elements, say <h2>, to get the features' titles to make sure documentation is updated.

[2018-03-18 13:24] loukas-kotas commented on #46
Would it be a good idea to create a new repo for this issue?
Is anyone already working on it?

[2018-03-18 17:02] itaditya commented on #43
I am using Google Perspective API

[2018-03-18 17:17] itaditya commented on #43
@gr2m I was thinking we can maintain a list of users who have commented on the org's repos along with their sentiment scores. Now when a new user comments on any issue. We check if he has shown any aggressive behaviour in the past. If he has, we open an issue in a private repo for the maintainers to discuss how to interact with that user and also store his aggressive comments in the db for future

[2018-03-18 17:18] itaditya commented on #43
Also if the aggressive user comments again, the bot will comment in the existing private repo's issue thread about what the user has commented now.

[2018-03-18 17:36] j-f1 commented on #43
@itaditya I think the idea for the bot was to look through the user’s comments on other repos to see how they’ve behaved in the past.

[2018-03-18 17:49] itaditya commented on #43
@j-f1 yes, you are right, I'm looking at the past comments to see if he is agressive, but I wanted to discuss what to do after that.

See -

[2018-03-18 18:03] j-f1 commented on #43
Sorry about that. I misread your comment. Your ideas sound good 👍

[2018-03-18 18:04] itaditya commented on #43
Thanks @j-f1

[2018-03-18 18:11] gr2m commented on #56
Hey have you seen https://github.com/marmelab/sedy, looks similar to what you want to build?

[2018-03-18 18:18] gr2m commented on #32
The way it could be built is that all tweets are actual files in the repository. Say there is a "tweets" folder. If you want to send out a tweet you create a pull request adding a new file with the tweet to that folder. The app could use the status API to set the status to error if the text is too long for example. Once it’s approved & merged, the app could tweet out using the configured twitter a

[2018-03-18 21:53] aps120797 commented on #32
Hey @gr2m , from this, what I think is that the bot is making scheduled tweets.
Do we have to make it tweet events at some schedule or immediate when an event occurs on the GitHub repository?
Also, is storing the tweets in the file necessary? Because, when we are tweeting something, the tweet might be already published to the Twitter, and the best that we can do is to add a comment by the bot with

[2018-03-18 22:09] gr2m commented on #50
hey I think this could be really useful, but I’m not yet how it works :) I looked at https://github.com/Ikuyadeu/similar-code-searcher/pull/1

I would expect a comment to other open pull requests that change the same files / lines like my own pull request to make me aware of the others? Is that what you want to do or something else?

[2018-03-18 22:28] gr2m commented on #32
I would suggest to start out with tweeting directly. Scheduling would be a great feature to add in a later iteration

I’m not sure what you mean? The workflow I imagine is to create a new file with a pull request, the pull request can be analysed by the bot and when merged, tweeted out. So the flow would be

1. Open pull request with new file for tweet
2. Merge pull request
3. New tweet posted by

[2018-03-18 22:31] Glavin001 commented on #14
I also want assistance managing numerous duplicate issues for my project https://github.com/Glavin001/atom-beautify

I developed https://github.com/Glavin001/issuebot with this goal in mind. I'd like to rebuild it using Probot.

[2018-03-18 23:47] gr2m commented on #37
see https://github.com/probot/ideas/pull/38#pullrequestreview-96590112

[2018-03-18 23:47] #37 closed

[2018-03-19 00:57] Ikuyadeu commented on #50
@gr2m Thank you for the feedback! I think your idea is a very interesting function.

However, it is different to `Similar Code Searcher`
In my submitted proposal, it is called `Synchronous Change File Suggester`.
I think `Synchronous Change File Suggester` can be merged with `Similar Code Searcher`.

Implementing `Synchronous Change File Suggester` has two way,

1. Learn past pull requests and sug

[2018-03-19 03:13] gr2m commented on #50
Thanks for explaining, sounds good :)

[2018-03-19 04:03] davilaerte commented on #6
@AshanthaLahiru I think it would also be interesting to think about using the median to calculate the expectation of response, since the average can be affected by very high or very low values ​​and perhaps the median best describes the expectation of actual response, so it may be interesting to do an exploratory data analysis(EDA) on data from some GitHub repositories to better understand its cha

[2018-03-19 04:29] Ikuyadeu commented on #50
Thank you too 😄

[2018-03-19 05:14] AshanthaLahiru commented on #6
Thanks @davilaerte . I'll look into that. :+1:

[2018-03-19 06:08] davilaerte commented on #24
@gr2m would it be interesting to add some statistical data in the weekly summaries as: average for issues and PRs open in the week, percentage increase of stable code (that is in the master branch) in the week and other statistics that can be useful for the project and its development ?

[2018-03-19 09:47] itaditya commented on #43
@gr2m I was thinking we should focus on providing the service to orgs only. An individual repo owner won't have enough time to look into how to reply to each user.

[2018-03-19 10:49] jainkeval commented on #22
@gr2m @JasonEtco I would like to consider this for my GSoC proposal. Can you please guide me how do I proceed?

[2018-03-19 14:58] choznerol commented on #56
I thought someone may have the similar idea but didn't found sedy!  @gr2m thanks for the information 👍 but since it requires a pull request to be open in the first place (([#62](https://github.com/marmelab/sedy/pull/62/commits)), perhaps a bot response to issues suits other scenarios. Is it a good direction for a GSoC proposal?

[2018-03-19 17:15] gr2m commented on #24
I think down the road it would be great to make it pluggable so that maintainers can configure what blocks they’d like to have in their digest

[2018-03-19 18:08] gr2m commented on #56
sure we are curious to see what you come up with :)

[2018-03-19 18:11] gr2m commented on #43
To clarify, I thought that GitHub apps could not create repositories on user accounts. But if that works it’s cool, I’d just require it to be installed on the entire account/org, not just for selected repositories

[2018-03-19 22:00] davilaerte commented on #24
Yes @ gr2m, I think it would be nice to add summary levels so that the maintainers can choose the level they want. I also thought about adding a block that would be related to some metrics of code quality, what do you think ?

[2018-03-21 01:29] aps120797 commented on #32
Hey @gregor, should we create YAML files for each tweets or should we keep appending tweets to a single file named `tweet.yml`?

[2018-03-21 04:59] gr2m commented on #32
I’d make separate tweets. This will avoid conflicts if people work on drafts for multiple tweets at once

[2018-03-21 05:35] gr2m commented on #31
Update: I need to update the way probot.glitch.me works before we can move on, so that’s on hold until then

[2018-03-21 06:41] svensevenslow commented on #24
@gr2m I just want to clarify, the idea will be to have one locked issue and the bot will make a comment on that issue every week giving the weekly summary or will the bot open a new locked issue every week to provide the summary.

[2018-03-21 12:35] rsarky commented on #20
Hey @domcorvasce
Check this out :smile:

https://github.com/apps/helpr

[2018-03-21 18:47] domcorvasce commented on #20
That's really cool! 🎉

[2018-03-21 18:47] #20 closed

[2018-03-21 22:46] IAmHughes commented on #56
Personally I don't know how great this would be in real-world. I've definitely come across the issue you are trying to solve as a developer, but it would also scare me to NO END 😨to have something like that done with a fairly simple find/replace, rather than a refactor-based replace within an IDE (for example).

When you `refactor => rename` for example, it checks instances in a much more intellig

[2018-03-21 22:54] IAmHughes commented on #48
Just came by to say that this seems like a welcomed addition, 👍 🎉

[2018-03-21 23:34] zeke commented on #48
Thanks, @IAmHughes. We may have a publicly installable version of this pretty soon. Stay tuned.

[2018-03-22 03:21] gr2m commented on #24
the idea is to have a single locked issue. I do these manually for some projects, e.g. here: https://github.com/octokit/rest.js/issues/620. The idea here is to have it fully or partly automated

[2018-03-22 18:21] choznerol commented on #56
@IAmHughes Thanks for the feedback!! But first sorry I used `refactor` in a misleading way. What I imagined was just a non-developer-friendly way of changing plain text (for rewording purpose). For example, there are many simple static HTML site hosted on GitHub and many front-end developers (including me lol) spend so much time updating plain text or typo. So I try to find an even easier way than

[2018-03-22 18:40] IAmHughes commented on #56
I see what you mean now, and I know we definitely use GitHub repos for documentation even (as in with no code at all in a repo), so the find & replace style would be great for those types of things. I'll have to put some thought on this as well, I like the idea!

Perhaps you can just specify the file name in the issue?

`/replace 'usernames' with 'userName' in 'file.txt'`

[2018-03-23 19:03] choznerol commented on #55
I like the idea! Adding the achievement to user's GitHub pages sounds like a big project, but this reminds me of the [embedded real-time board of sponsor avatars](https://github.com/vuejs/vue#contribution) in some big projects. What do you think if the bot could maintaining a leaderboard on the README?

[2018-03-23 19:18] choznerol commented on #56
@IAmHughes Sound like a great idea! For typo fixing, targeting a specific file should be more useful rather than replacing all occurrences.

This also reminds me of some other features like:
`/replace 'foo' with 'bar' assign 'john_doe'` -> assign the generated PR to @john_doe
`/replace 'foo' with 'bar' in 'develop'` -> starts the PR to `develop` branch instead of `master`

I'll also try to come up

[2018-03-23 19:50] aps120797 commented on #55
Yeah, it's a big deal to implement this. But if it's done, it will be really cool. I am not sure if GitHub allows adding these details to users profile. 😄

This is really cool. Thanks for sharing! 😄
@itaditya too shared a similar idea of maintaining a leader-board. Maintaining a leader-board in `readme.md` is the best that we can do. 😄

Project's taking shape. Any suggestions what should I name th

[2018-03-23 21:32] Varsha2112 opened #57 "Visual Environment Project For GSoC"
Idea- To be a beginner is very tough to understand the code and fix it in the system. Sometimes, we did make the clone of the project but don't know what are the requirements to run that code in the system. How it would be run and what it looks after running. There is some basic issue faced by beginner when they start using Github. If there is any visual environment set in the GitHub(or an applica

[2018-03-24 06:51] itaditya commented on #55
* Golden Eye
* Uatu

[2018-03-24 06:52] itaditya commented on #55
* Uatu

[2018-03-24 07:11] choznerol commented on #56
I've updated the discussed features to above issue body and put the draft configuration file in the [repo](https://github.com/choznerol/find-replace-bot)
@IAmHughes fyi :)

[2018-03-25 16:51] aps120797 commented on #32
@Iphytech , the idea is open for everyone for this GSoC. Anyone can submit proposals idea labelled with summer-of-code. Please see this comment: https://github.com/probot/ideas/issues/32#issuecomment-366839329

[2018-03-25 19:56] pranay414 commented on #57
@Varsha2112 I think all these instructions like how to run that code in the system and how it would run and what it looks after running is given in readme. Check the readme of this repo: https://github.com/react-community/react-native-maps. I don't get why is there a need for an application?

[2018-03-25 23:04] Varsha2112 commented on #57
@pranay414 This is mainly for beginners who don't have the idea about the codes of GitHub and How to use it. I know there are so many tutorials are available for guiding the beginners but besides of these, there are so many people faces this problem.

Apart from beginners, If we want to run a different kind of code and check how its look, then we have to set all the requirements for each one which

[2018-03-26 00:23] Nischay-Pro opened #58 "Monthly Milestone Generator"
Most of the projects and repositories I currently contribute to have no system of automatically creating milestones and monthly goals for any Project.

The users of the application generally request features, report bugs which then need to be manually assigned a deadline and appended to the project milestone. The bot will automatically create a milestone for the developers to follow. It would simp

[2018-03-26 01:56] vishalseshagiri commented on #22
@gr2m @JasonEtco . I have given this task a try and it works for ci-validated and mergeable PRs. Please find my repository here [gsoc_probot_task_1] (https://github.com/vishalseshagiri/gsoc_probot_task_1)

[2018-03-26 12:44] aps120797 commented on #24
Locked Issue is a great idea.
How about creating a Wiki Entry by the bot to create weekly digests?

[2018-03-26 13:29] rsarky commented on #24
IMO Wiki is primarily for documentation.
Also I don't think there is API support for GitHub apps to create or edit wikis? @aps120797

[2018-03-26 14:36] aps120797 commented on #24
Yeah, I just discussed in the Slack chat, came to know it's there is no support for GitHub apps to perform rw in Wikis.

[2018-03-26 16:31] AkshitKrNagpal opened #59 "Notify mentor about ignored issues and pull requests"
**Problem**
Every time a new issue is reported or new pull request is submitted, owners receive a notification but sometimes they forget to review and reply.

**Solution**
A bot can be made that notify the owner if the issue or pull request is open for a specified period of time with no response from him. The bot can make a comment in issue/PR with owner mentioned in the comment. This will remind

[2018-03-26 16:35] gr2m commented on #59
Is that something you could do with the stale app? https://github.com/apps/stale

[2018-03-26 16:39] AkshitKrNagpal commented on #59
I don't think stale currently notify owners. Maybe this can be built on top of that?

[2018-03-26 16:42] j-f1 commented on #59
@AkshitKrNagpal You could put a custom message in the config that pings people.

[2018-03-26 16:45] AkshitKrNagpal commented on #59
Yeah... I guess this can be configured using the stale app.
I'll close this.
Thanks

[2018-03-26 16:45] #59 closed

[2018-03-30 15:50] cjs opened #60 "Repository Creation"
Some organizations want to limit creation of repositories to admins, but also want to grant that privilege to a subset of users without granting them admin rights.

"templates" can be defined that cross references users authorized to create a repo with that template, and teams that get assigned with certain rights to the repo, as well topics, repo naming patterns to enforce, and so on.

When autho

[2018-03-30 17:45] gr2m commented on #60
maybe instead of using issues, you could use a configuration file or one file per repository? The benefit would be that you could take advantage of linting the change file(s) and setting pull request status. The Settings app could be an inspiration: https://probot.github.io/apps/settings/

[2018-04-02 23:34] dessant commented on #43
This may be interesting, but creating an aggregate score of recent comments may be better instead of `If any of the comments stand out as aggressive then create an issue in a private repository`.

Though part of me disagrees with the entire premise of warning maintainers about past actions despite the lack of current negative behavior. I'd consider judging their current activity at face value to b

[2018-04-07 17:35] patcon opened #62 "Allow original issue to be shared summary space"
Here are some statements -- :mag: facts, :heart: feelings, and :bulb: ideas -- related to this bot premise:

1. :mag: Only the original poster (OP) and repo admins can update the OP content.
1. :mag: Reaction emoji can be used by any issue participant.
1. :mag: Reaction emoji are not [currently] available as "activity" events in GitHub systems.
1. :heart: I feel that the OP content area is prime r

[2018-04-07 17:40] patcon commented on #62
Hey, leaving an example of how this might work. Check it out! Also, feel free to :+1: for FULL DEMO EFFECT :)

----
### Summary Update

There is now a demo in the comments below.

[2018-04-07 17:49] patcon commented on #62
:heart: I feel inspired by the Loomio collaboration tool [<sup>[?]</sup>](https://www.loomio.school/beginner/overview.html) in relation to settings for [shared editing of thread "context"](https://loomio.gitbooks.io/manual/content/en/group_settings.html#edit-the-context-of-any-thread-in-the-group)
:mag: Loomio was built by people with experience in real-world facilitation practices, and the Occupy

[2018-04-07 18:47] JasonEtco commented on #62
This is a really neat idea - I don't know how I'd use it in a real world project, but I'm sure there are others who do.

From a technical standpoint, fun fact: GitHub Flavored Markdown doesn't strip HTML comments, so you can use those as "fences" to cordon off areas of an existing comment. Example:

[code]

Then using RegEx, you can capture that area:

[code]

Or you could use [Handlebars](https:/

[2018-04-07 20:53] patcon commented on #62
Thanks for the vote of confidence. Critically:

1. :heart: I feel that long/complicated threads are often not expected to be so at time of OP.
1. :bulb: The ability to add a Summary section to the bottom should be possible even when OP didn't anticipate it.

ASIDE: @JasonEtco you don't have Twitter, so I don't know how to internet-yell at you, but -- seeing that you're in Toronto -- I just wanted

[2018-04-07 20:59] JasonEtco commented on #62
Haha @patcon I do [have Twitter](https://twitter.com/JasonEtco), was going to invite you to [NodeschoolTO](https://nodeschool.io/toronto/) some time!

Totally - I think a simple check to see if that update-able block exists, and then adding it if it doesn't, would do the trick.

There'd also need to be some kind of abuse-prevention system. You mention reactions as being a way of moderating that -

[2018-04-07 21:10] patcon commented on #62
Interesting on the alternative tactics... I'll think on that :)

What about where it's one step behind... like for each comment created, it check for the reaction emoji? Assuming someone else says something eventually, then the +1 will be "noticed" and acted on

A little inelegant, but I'd really prefer the reaction approach

Alternatively, maybe the bot could modify the "Summary Update" comment i

[2018-04-08 05:38] patcon opened #64 "Help users initiate "call for co-maintainers" threads"
Details here: https://github.com/mntnr/welcome/issues/3

Will come back and summarize better later :)

If anyone interested, doing a prelim call to discuss (possibly on Thu, Apr 12 @ 6pm ET). Drop a msg, and will be sure to confirm deets here

cc: @RichardLitt @gr2m

[2018-04-08 05:39] patcon commented on #64
EDIT: Oops. As soon as I submitted, realized this wouldn't make sense for probot, due to it be enabled per-org/repo

[2018-04-08 05:39] #64 closed

[2018-04-08 09:27] willin opened #65 "cloudflare for free domain supply"
### Trigger

Pull Request

### Handler

- Check DNS exist
- Add new CloudFlare Record

ref: https://github.com/js-org/dns.js.org/blob/master/cnames_active.js

[2018-04-14 18:49] abhijeetps opened #66 "An app that update dependencies of Node.js app"
**Problem**
 Dependencies of applications on Node.js hosted on GitHub are usually out of date and not updated.

**Solution**
We have a npm package [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) which updates dependencies of package.json for Node.js.

It would be great to have a Probot app which updates file `package.json` creating an issue and commenting something like (check

[2018-04-14 18:52] aps120797 commented on #66
I think the bot will be really useful, and would be liked by all Node.js developers who have hosted their application. Also, a similar app could be made for Python or some other platforms, where the app is depended on some external dependencies and maintains a file somewhat similar to package.json

[2018-04-14 18:55] maracuja-juice commented on #66
It's not a Probot bot but this is exactly what [Greenkeeper](https://github.com/greenkeeperio/greenkeeper) does.

[2018-04-14 19:00] aps120797 commented on #66
Oh, didn't knew that.
My bad, I will still experiment how this goes with Probot. 😄

[2018-04-14 21:35] gr2m commented on #66
Greenkeeper totally could use Pronto I think :) but it’s a much more complex project than most of the probot apps out there

[2018-04-15 07:43] jainkeval opened #67 "Automatically create a deployment for Pull request"
This app will be for frontend projects. The bot will deploy site to heroku (may be) for one's pull request. So that the mentors will be able to review the changes easily.

@bkeepers @gr2m any suggestions?

I would like to work on this.

[2018-04-15 09:37] itaditya commented on #67
if you are hosting only frontend then there are easier options available than heroku. Check surge.sh

[2018-04-15 10:44] maracuja-juice commented on #67
@itaditya That's correct! Some more options for the Frontend are Github Pages and Netlify.

[2018-04-15 11:25] aps120797 commented on #66
Hey @gr2m , I searched for it but couldn't find info related to this. What's Pronto? Is it something similar to Probot?
Can you please share a URL?

[2018-04-15 11:47] maracuja-juice commented on #66
@aps120797 not sure but it could be this right here: https://github.com/prontolabs/pronto

As far as I know though they don't use that.

[2018-04-15 11:53] aps120797 commented on #66
Yeah, I too saw that. I saw this also: https://github.com/express-vue/vue-pronto
But I think both of these are not used by greenkeeper.
Not sure what it is.

I investigated https://github.com/greenkeeperio/greenkeeper/blob/master/package.json, but couldn't find anything related.

[2018-04-15 12:58] kenorb commented on #67
Why not to use [Travis CI](https://docs.travis-ci.com/user/deployment/), it can deploy to Heroku as well.

[2018-04-15 16:13] maracuja-juice commented on #66
@aps120797 I think it's all built by them. Look here: https://github.com/greenkeeperio/changes
Also at the bottom of their readme there's a documentation.

[2018-04-15 18:46] gr2m commented on #66
Lol sorry folks I meant pro it, not pronto. Autocorrect on the phone :D

[2018-04-15 18:59] patcon commented on #67
I like the idea, but unless I'm misunderstanding, I do this with Heroku Review Apps already:
https://devcenter.heroku.com/articles/github-integration-review-apps

Review apps importantly only work on PRs from branches in the upstream repo, not forks. But with protected branches, maintainers can liberally give push access without worrying about `master`, and so the workflow works great.

Plus `prob

[2018-04-15 20:23] raulriera opened #68 "Turn all cards into issues"
The process of creating a board, filling it with cards and then turn those cards into issues is pretty tedious. Specially annoying when I have to them duplicate the issues for iOS and Android (that app is [already done](https://github.com/raulriera/probot-duplicator) tho 😉)

I don't know what kind of trigger this should be, or what should be the default behaviour since the cards don't have titles

[2018-04-15 20:30] JasonEtco commented on #68
Just so that I understand, you'd want this behavior, but for _all_ notes in a project board?

![image](https://user-images.githubusercontent.com/10660468/38782989-07d2190e-40ca-11e8-9a54-7f3a560ef986.png)

Sounds neat! As you already know, [`probot-commands`](https://github.com/probot/commands) would help but its a bit of a weird connection to write a command in an issue that affects unrelated thi

[2018-04-15 20:31] raulriera commented on #68
Yes, exactly that... Do this work in bulk 🙂 ..

Ouuu I like the project rename thing

[2018-04-15 21:04] JasonEtco commented on #68
You'd probably want to rename it back to the `before` when you're done too 😉

[2018-04-18 03:31] rsarky commented on #22
@zeke A new API endpoint is now available and it is perfect for this use case :tada:
[Merge PR](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button)

[2018-04-18 04:13] zeke commented on #22
@rsarky you beat me to it! Thanks for @kytrinyx for helping move this forward.

https://twitter.com/kytrinyx/status/986409138568810496

[2018-04-18 20:52] zeke opened #69 "Storing secrets for third-party services"
I've seen mention of probots that write tweets, and I know @bkeepers is thinking about a GitHub App that would publish to npm. How does probot collect and store credentials like API keys and Twitter passwords? Is there an emerging pattern for solving this problem?

[2018-04-19 02:33] travi commented on #22
i'm not sure how helpful any of this is to this thread, but i figure its related enough to at least mention. i maintain [greenkeeper-keeper](https://github.com/greenkeeper-keeper) that serves a very similar purpose, but is purposely limited to PRs that are from [greenkeeper](https://greenkeeper.io). the current implementation is a [hapi](https://hapijs.com) [plugin](https://github.com/greenkeeper-

[2018-04-19 02:45] kytrinyx commented on #22
I almost never want to merge pull requests unseen as soon as they pass—it's almost always a thing where I've reviewed it, and want to merge it, but the build is still running, so I go look at instagram and check my email and completely forget what I was _actually_ doing. That's when I would want to have a way to signal to a bot: go ahead and merge this as soon as it passes.

I could see this worki

[2018-04-19 07:47] aps120797 commented on #69
While working on the idea of Twitter Integration ( #32 ), I developed a bot based on Probot that let's one tweet GitHub events (I will say GitHub happenings) on Twitter on the profile for which Twitter bot is configured on. The idea is really cool to follow, but with one limitation that you have mentioned above. 🙂

While working with this idea, I explored more about how to securely encrypt TOKENS

[2018-04-19 17:37] gr2m commented on #69
I think I’d move the discussion to probot/friction. This is a blocker for me, too. And Ben just asked about it the other day: https://twitter.com/benschwarz/status/986005137272418304

[2018-04-19 18:37] zeke commented on #69
Created https://github.com/probot/friction/issues/34 -- let's talk about it over there :)

[2018-05-02 04:36] ntwb opened #70 "Title Revisions stored as comments on issues/pull-requests"
If an issue or pull request title is edited/updated currently there is no history stored for the previous title.

A colleague raised the scenario today sometimes a client will revise the title of an issue for a _statement of work_ and without the history being stored and viewable it's tricky to say to the client "You changed the scope of the issue"

A basic example would be:

At a later point in t

[2018-05-02 04:48] maracuja-juice commented on #70
The history of the title is stored though and shown just like you want to show it in the comment.

[2018-05-08 07:57] HerrBertling opened #71 "WIP limit enforcer"
I bumped into this issue with quite some teams in the last years, so:

The wip-limit-enforcer does exactly that: It enforces a work in progess limit on pull requests. It closes newly opened pull requests, if they would increase the number of open pull requests beyond a defined number (the wip limit). For this, it takes:

- A WIP limit (of course :smile:)
- A list of labels/words for pull requests

[2018-05-08 10:05] j-f1 commented on #71
Why not close the oldest open WIP PR instead of the newest one?

[2018-05-12 20:51] Schachte opened #72 "Probot Idea In the Works for Github Repo Quality Assurance"
Hey guys. Ran into probot last week and thought it was a really cool project. Decided to start working on a bot that ensures quality is enforced for pull requests and issues that are created in a repo or org.

Feel free to contribute, star it or open issues for requests!
https://github.com/Schachte/Git-Enforcer

[2018-05-14 22:38] gr2m commented on #72
👋 just a heads up, we are not just guys at probot ;)

Yay! Thanks for the kind words :)

That looks pretty cool, very powerful! My only feedback would be to maybe split it out into smaller bots for the different features, but that’s just my personal preference, I’m sure some folks will appreciate the configurable all-in-one approach

Thanks for sharing!

[2018-05-15 21:45] Schachte commented on #72
Sweet, thanks! Ill check it out, looks cool.

[2018-06-01 22:09] wei commented on #26
I built one [here](https://github.com/wei/pull). Feel free to try it out and give it a star. 😄

[2018-07-03 06:42] ani6gup commented on #46
👀 Seeing if anyone is building a bot about this? Would love to write about it in a GitHub Blog Post or pair with someone on making the bot a reality!

[2018-07-03 07:04] gr2m commented on #46
I’m looking into it from time to time, but I don’t have too much time right now

[2018-07-09 19:05] jwsloan opened #73 "repolinter-bot"
I started working on a bot wrapping https://github.com/todogroup/repolinter.

I'm wondering if probot is really right for that, though. It has to clone the repo, and walks through all files, and all of the git history.

Thoughts?

[2018-07-13 03:01] wei commented on #73
Are you thinking about running this each time a commit is pushed? Great idea, you can use the check api. repolinter handles all the messy stuff, so you could just use `child_process.exec` to run the `git clone` and `npx repolinter` (never tried, should work thou)

[2018-07-15 20:51] bobvanderlinden commented on #22
I've been working on a probot that does exactly this the last few days. It is working for the tests I've done with it, but I still consider it experimental. Let me know what you think: https://github.com/bobvanderlinden/probot-auto-merge

[2018-07-16 05:13] zeke commented on #22
Thanks for sharing, @bobvanderlinden!

The Electron team has been experimenting with @dependabot, which has a feature for auto-merging dependency updates when checks pass: https://twitter.com/dependabot/status/1015290676081283072

[2018-07-16 05:53] bobvanderlinden commented on #22
I was meaning to check out Dependabot, but mostly for its automatic dependency updates. Does it do automatic merges for pull requests in general? Then I might want to look into that too.

[2018-07-16 15:38] zeke commented on #22
No. Just for its own PRs.

[2018-07-27 01:54] Berkmann18 commented on #73
Sounds like a great idea.

[2018-07-27 01:56] Berkmann18 commented on #72
This looks awesome. Is it going to be language/framework agnostic or as general as Better Code Hub?

[2018-07-27 01:57] Berkmann18 commented on #68
@raulriera You can do that with GitKraken Glo which sync cards to issues.

[2018-07-27 01:59] Berkmann18 commented on #66
It's been done alreaday by [dependabot](https://github.com/marketplace/dependabot).

[2018-07-27 02:02] Berkmann18 commented on #56
This sounds great, is there any plans on making that bot refactor stuff like renaming variable names, ...?

[2018-07-27 02:04] Berkmann18 commented on #52
So it is the bot checking the branches and merging them to `master` whenever the `master` is far behind, is that right?

[2018-07-27 02:06] Berkmann18 commented on #51
Does it take into account global/repo labels or creates new ones based on a config file?

[2018-07-27 02:15] Berkmann18 commented on #27
@xbauquet That would definitely help both parties.

[2018-07-27 12:55] ameerthehacker commented on #51
Hey @Berkmann18 currently there is no such configurations available throw config file. Yet feel free to contribute towards that!

[2018-07-27 13:15] Berkmann18 commented on #51
So does only use the repo's labels or create one based on known/popular ones?

[2018-07-27 20:43] ameerthehacker commented on #51
It creates one based on popular ones

[2018-07-28 05:10] Berkmann18 commented on #51
Awesome.

[2018-08-02 22:53] zeke opened #74 "Sisyphus"
I maintain a lot of "data modules". Unlike most npm modules, these modules are datasets, scoured from various corners of the internet on a regular schedule. An example is [all-the-package-names](https://ghub.io/all-the-package-names), which is updated daily (aspirationally, anyway). For each one of these modules, I run a Heroku app with the Scheduler addon (think `cron`) to run some task (usually

[2018-08-03 19:36] C-PET commented on #16
Interested to know if this was something that was completed

[2018-08-04 02:34] travi commented on #16
See https://github.com/probot/settings/issues/87

[2018-08-06 13:39] jonico commented on #16
@C-PET: We also just rolled out protected branch patterns 🎉

![image](https://user-images.githubusercontent.com/1872314/43719760-df83a468-998e-11e8-833c-ee6cd13674a3.png)

[2018-08-06 13:53] JasonEtco commented on #16
I'm going to close this issue since its now built-in to GitHub 🎉 Thanks everyone for your ✨ feedback! Really excited to see this as a part of the platform!

[2018-08-06 13:53] #16 closed

[2018-08-06 14:06] C-PET commented on #16
I see the settings setup.  However when I go to “INSTALL THE APP” it only allows for on github.com.   We have an on-prem github instance not public facing.

From: Jason Etcovitch [mailto:notifications@github.com]
Sent: Monday, August 06, 2018 9:54 AM
To: probot/ideas
Cc: Petrina, Chris; Mention
Subject: Re: [probot/ideas] Automatically protect branches that follow a certain pattern (#16)

CAUTION

[2018-08-06 14:16] JasonEtco commented on #16
@C-PET GitHub Apps are registered on an instance, so you'll need to create and deploy your own for GitHub Enterprise. [Check out our docs](https://probot.github.io/docs/github-api/#github-enterprise) for more info.

[2018-08-06 14:17] C-PET commented on #16
Right after I sent that email I saw that deploy section.

Thank you again.

From: Jason Etcovitch [mailto:notifications@github.com]
Sent: Monday, August 06, 2018 10:16 AM
To: probot/ideas
Cc: Petrina, Chris; Mention
Subject: Re: [probot/ideas] Automatically protect branches that follow a certain pattern (#16)

CAUTION EXTERNAL EMAIL
DO NOT open attachments or click on links from unknown senders or

[2018-08-09 14:10] bkeepers opened #75 "Don't +1 me"
Popular open source projects still get a lot of +1 comments, despite the 👍 reaction being available on GitHub for several years now.

So I'd like an app to help reduce the noise and maybe even teach people that it's not acceptable behavior. The concept is pretty simple:

- Immediately delete (or hide when the API becomes available) any comment that is just `+1`. Bonus points for also matching vari

[2018-08-09 14:50] kenorb commented on #75
+1

[2018-08-09 14:56] hiimbex commented on #75
Have you seen https://github.com/dessant/reaction-comments ? @dessant is way ahead of you! Could be some feature requests in here though 🙂

[2018-08-09 16:13] patcon commented on #75
-1 to block feature (also, this would be deleted, so maybe lower default)

[2018-08-09 18:54] dessant commented on #75
Thanks @hiimbex! :yum:

An extended mode that deletes `+1 <text>` comments could be interesting, but we'd have to identify with the Search API the exact phrases that are used more frequently, and only hardcode those. Matching any short string can have unintended consequences, consider these comments:

[code]
[code]

I'm not aware of a practical way to notify/message a user (and only them) on GitHu

[2018-08-09 21:50] stefanbuck opened #76 "Idea: Report ESLint reports on a Pull Request via Checks API"
Idea – I want to build an app which uses the checks API to report ESLint issues from and potentially from others back on a Pull Request. First of all, do you know if this exist already?

Anyway, I played around with the checks API and was able to create checks for a hard-coded fixture. Now I want to use real reports coming from a Pull Request. I was thinking something similar to [codecov](https://

[2018-08-09 22:00] JasonEtco commented on #76
This isn't _exactly_ what you've described, but its pretty close: https://github.com/koddsson/eslint-disable-probot

The only difference is that it points out when ESLint rules have been disabled, rather than when they've failed.

[2018-08-09 22:07] stefanbuck commented on #76
This looks cool, but it's not really close to my scenario. This app operates on the patch, whereas my app needs to wait for a third party service to upload additional information to complete the job.

[2018-08-10 23:08] stefanbuck opened #77 "Idea: Label presets"
Wouldn't it be helpful, if I could define a preset of labels. When creating a new repository it would then populate those labels into the new created repository so I don’t have to tweak them manually.

I was thinking that labels of a dedicate repository are used as source which comes with a nice UI for free.

[2018-08-11 14:12] stefanbuck commented on #77
https://github.com/probot/settings/ is what I'm looking for.

[2018-08-11 14:12] #77 closed

[2018-08-18 04:40] JasonEtco opened #78 "Releases generated from a markdown file"
Since releases aren't version controlled or PR-able (the content of the actual release), it'd be neat to have a `.github/releases` folder of markdown files. Maybe using front-matter, it could follow a scheme like this (taking options from [`octokit.repos.createRelease`](https://octokit.github.io/rest.js/#api-Repos-createRelease):

[code]

This could even pull in functionality similar to [Release D

[2018-08-18 19:56] JasonEtco commented on #78
Random additional thought, which in hindsight was why I opened this issue in the first place after seeing a typo in a release: this should also updated the descriptions of existing releases, allowing them to be open-source properly.

[2018-08-24 05:53] robstoll opened #79 "CLA Bot"
## Feature Request

**Is your feature request related to a problem? Please describe.**
So far there are only CLA-Bots available which store sensitive data somewhere. I have no idea if this data is encrypted etc. and I don't want to force contributors to give away their email address to a company.

There is already the DCO bot which is similar but not the same. I don't want to have a signed-off for

[2018-09-09 03:04] papaponmx commented on #33
How would the bot alert the assignee? Via email, slack?

[2018-09-17 16:44] zeke opened #80 "License Manager"
I have lots of projects with a `license` string in their `package.json` but without a corresponding `LICENSE` file. It would be cool to have a bot periodically survey an organization and create these license files automatically.

[2018-09-26 08:30] den901kzn commented on #47
😎

[2018-09-27 16:10] robstoll commented on #79
Bump, someone of probot must have some input on this one no?

[2018-09-28 12:10] jwsloan commented on #72
I've been planning on creating an app that wraps the [repolinter](https://github.com/todogroup/repolinter) tool.
My thoughts would be to use the Checks API for it.

[2018-09-28 12:42] jwsloan opened #81 "Probot app config validator"
What if there was either a config yml validator site, or possibly a specific app that watches for changes to config files, and comments on PRs involving them? Or puts in Issues for ones that exist already when the app is installed.

[2018-09-29 00:09] tunnckoCore commented on #73
It's really not needed to git clone or do any server stuff.
The reason i didn't do that yet (while thinking for such for over a year) is that i didn't think checking through the API is a good idea.

But now. It sounds like a good idea, because it won't lint everything but only the files in which have changed.

One the other hand. I'm still against, because i more fan of the "before you commit" do

[2018-09-29 00:12] tunnckoCore commented on #5
Why when @greenkeeper, @renovatebot (phenomenal enough) and @dependabot (which is .. meeh why it exists, still can't understand) and few more exist?

[2018-09-30 15:56] comunicaticket opened #82 "Automatically moves the issue to a certain project."
When an issue is opened, the bot automatically enters into a specific project.

[2018-09-30 16:10] Rahmeen14 commented on #28
We have resolved this issue as a part of RGSoC!
Here's a link to the repository https://github.com/probot/first-timers-only-app

[2018-09-30 16:10] #28 closed

[2018-10-04 19:57] wolfy1339 opened #83 "Option to have TLS server instead of plain HTTP"

[2018-10-08 19:03] abhijeetps commented on #43
Hi there!
This idea has been implemented by @itaditya here: https://github.com/probot/background-check
You can install the application here: https://github.com/apps/background-check

[2018-10-09 02:52] itaditya commented on #43
Hi @dessant as mentioned by @abhijeetps I have built a bot for background check. Right now it starts the whole process whenever the repo has a new commenter.

I think you are suggesting that we should instead only start the background finding process once a person makes a toxic comment. I have mixed feelings about this. If we go ahead with what you suggest then.

1. We won't judge a person before

[2018-10-09 20:29] gr2m commented on #43
As a project maintainer, I see it as my responsibility to protect the community against hostile people. I don’t think a person’s contribution in one project can be separated from their behaviour in other projects. The app written by @itaditya is a useful tool in a maintainer’s belt to help keeping a community a safe and welcoming place. It’s only informing a maintainer about aggressive comments in

[2018-10-09 21:10] dessant commented on #43
I did not install it for the communities I maintain, because I do not agree with the premise that I should be aware or take action about someone's behavior in different places, just because they have interacted with my project. Once we're made aware of an unflattering comment from someone's past, we may view their future behavior through a different lens, no matter how unbiased we try to be.

@ita

[2018-10-09 21:56] gr2m commented on #43
That has been a big problem in many projects in the past, one that I think we fail to address in our communities. It’s the same as saying "Well XYZ has always been nice to us" if someone reports being harassed by XYZ in another environment. There a lots of bad actors in our communities that are still being celebrated on many occasions because of the do great work they do. I know _a lot_ of people

[2018-10-09 22:52] dessant commented on #43
If someone reports being harassed anywhere, they should not be dismissed with "Well XYZ has always been nice to us". Still, an online community can be kept healthy without maintaining behavioral scores for users.

[2018-10-10 02:10] itaditya commented on #43
Hi @dessant, I really appreciate the input that you have given.

Regarding the app being a social scoring system. There are minor details to the app that make it different.

1. Only the latest 100 comments are analysed so it is not that we are collecting their entire history.

2. The data which is analysed is public. The commenter willingly provided that data for the entire world to see. It's not

[2018-10-16 18:11] TiagoDanin commented on #80
@zeke Done! https://github.com/TiagoDanin/Add-License-Bot

[2018-10-19 18:42] zeke commented on #80
Nice! Do you plan to create a hosted GitHub App for this, @TiagoDanin?

[2018-10-19 19:52] TiagoDanin commented on #80
@zeke Yes, https://github.com/apps/Add-License-Bot.
Running on Heroku.

[2018-10-20 06:04] wmhilton commented on #80
COOOOOL!

[2018-10-20 06:10] wmhilton commented on #80
I've added it. Fingers crossed, waiting for the robot magic! I ought to get one to https://github.com/wmhilton/tree-shaking-benchmark and https://github.com/wmhilton/tree-toy for instance.

[2018-10-20 17:47] wmhilton commented on #80
YEEEESSSSSS!!!! I feel so compliant. ❤️
![image](https://user-images.githubusercontent.com/587740/47258795-98368100-d46e-11e8-9ee4-05275f0420d2.png)

[2018-10-21 23:01] hassankhan opened #84 "Add a 'Managed By' badge to repository"
It would be nice to show that a repository has Probot enabled with a badge. A possible example is as follows:

[![Probot][icon-probot]][link-probot]

[icon-probot]: https://img.shields.io/badge/managed%20by-%20%F0%9F%A4%96%20-555.svg?longCache=true&style=flat-square
[link-probot]: http://probot.github.io

[2018-10-23 10:56] stof opened #85 "Idea: fixup commit detector"
The idea would be to detect PRs containing fixup commits, and add a check on the PR based on that (a failed check if there are any), asking to squash them in the relevant place before merging.

[2018-10-23 17:07] zeke commented on #80
Wow! It works. I was surprised to see that it committed directly to master, though. Opened an issue here: https://github.com/TiagoDanin/Add-License-Bot/issues/2

[2018-11-04 22:19] Glavin001 commented on #51
I developed a proof of concept for labeling issues, among other things. Check it out: https://github.com/Glavin001/IssueBot#automatically-manage-issues 😃

[2018-11-07 19:46] travi opened #86 "enable github apps for a repository"
i'm a big fan of the [settings bot](https://github.com/probot/settings), but it's missing one thing that i think would be a big help. i'm not sure if it makes sense to expand `settings` to support it, or if it is possible already through another means, but i'd love to be able to create a new repo with a config under `.github/` that enables a list of github apps for that new repo from the available

[2018-11-17 22:32] PatMyron commented on #56
Pulling many dictionaries could automate typo PRs without flagging technical terms like AWS, EC2, S3, etc. Nice to allow users to configure their own dictionaries to add organization-specific words to ignore.

[2018-11-19 09:42] Berkmann18 commented on #56
@PatMyron But surely that wouldn't be necessary in the case where people are manually triggering the bot (ie. commenting `/replace ...`) which is what the bot is aimed for as opposed to bots like `alex-lint` or others who would automatically look at the words used and react accordingly.

[2018-11-21 04:50] jwsloan opened #87 "Initialize a repo with specified file(s)"
Currently you can initialize a project with a README file. It would be handy to initialize it with one or more probot configs in the `.github` folder. Maybe taking whatever is in the `.github` repo, if it exists. They could always be deleted if unwanted.

I'm thinking of this specifically for the `Settings` app so that we can ensure Protected Branches is turned on as we want it with every new repo

[2018-12-03 14:22] haxzie commented on #55
Hey @abhijeetps ,
Is the project ready? I was planning to build something similar for a competition within our students community. If it already exists, that'd be cool, if it's under WIP I'd be happy to contribute to it.

[2018-12-03 14:31] haxzie opened #88 "Bot to tweet out issues with help-wanted label"
I Don't know whether an app like this exists, but it'd be really cool to have a twitter account for each organization or one globally to let new contributors know an issue with `help-wanted` or `good-first-issue` exists in the repositories of their favorite open source projects.

[2018-12-03 14:35] haxzie commented on #88
it'd be even cooler if the bot could publicly thank the first time contributor through twitter. Having their twitter handle may be an issue, but a link to their profile would also be fine, I guess :smiley:

[2018-12-03 15:38] abhijeetps commented on #88
That's a cool idea @haxzie .
This idea will promote the organisation or repositories.
Maybe this idea can be added as a subset of #32 .
What do you think?

[2018-12-03 15:44] haxzie commented on #88
Hmm... Kinda yea, but it'd be nice if it was a subset of the welcome bot or how about a Thankyou bot? :smiley:

[2018-12-03 16:13] abhijeetps commented on #88
We can do it in two possible ways:
1. Create different apps for different features (functionalities).
2. Create a single major app, and provides ability to user to configure application based on their needs.

Both ways have it own advantages and disadvantages based on user needs. But since it's about tweeting a GitHub event on Twitter (and _**connecting a Twitter account for Organisation will need

[2018-12-03 16:42] haxzie commented on #88
So that's a challenge :smiley: Let me see, if I can get some heads up from #34
@abhijeetps Just like how the probot/invite works, which requires a little of manual configuration. Wouln't it be okay if we have the users manually add the secrets when setting up the project?

[2018-12-04 04:46] ahmad380360 commented on #88
وجود البوت في الشكل التنضيمي وربط الملف الشخصي يعطي تنضيما متناسق

[2018-12-04 17:05] Chococoin opened #89 "My idea is about a space for children, full of code and chocolate!"
Hi people,

I'm studying to build a place called chocosfera.com. I'm designing the chocosfera as a space to help children develop their potential in a loving environment.

My main idea is teaching git and GitHub creating a collective tale. The tale of this universe called Chocosfera.

At the beginning, we'll have only a few lines of the tale in a commit. Is about a character that eats Chocolate an

[2018-12-08 16:10] haxzie commented on #88
Hey @abhijeetps I have made a small bot to do this :smile: check out https://github.com/haxzie/probot-tweets any suggestions or feedback will be greatly appreciated :+1:

[2018-12-13 02:50] ruianderson commented on #82
It exists here: https://github.com/springboardretail/probot-project-rules =)

[2018-12-14 15:52] effigies opened #90 "Release reminder and milestone re-assigner"
We have a monthly release cycle, and a common feature of each month is to remind people with open PRs that the release is coming up in 1 or 2 weeks, depending on when I remember to do it. And then, when the release draws nearer, I make a judgment call to mass reassign to next month's release. A useful bot would be to post a reminder on the PR at X days out from the specified release date, and then

[2018-12-17 03:40] vidu171 commented on #45
@Rahmeen14 @Akshitaag  was any submission made on this?. If it's a work in Progress I'd love to contribute.

[2018-12-20 19:12] mkfeuhrer commented on #90
I'll like to work on this. Just restating and making things clear
1. Post a reminder of release date on open PR.
2. Update the release date in absense of activity .

Is this what you suggest ?

[2018-12-20 19:14] effigies commented on #90
For (2), it would be actually to relabel the PR to the next milestone, rather than update the release date of the milestone.

[2019-01-16 17:56] patcon opened #91 "Bot to auto-prepare a code pen for specific lines of code"
In regards to community-building, I'm experimenting with ways to make invitations to contribute more easy to  by negating the need to set up a local dev environment for small changes. For example, setting up a minimal go playground, like so:

https://github.com/42wim/matterbridge/issues #690 (don't want the back-reference to show yet)

I'm curious to think whether any of this could be automated.

[2019-01-22 15:01] traghu84 opened #92 "Bot to alert on aging issues"
Bot to alert for issues aging more than certain number of days.
Which will help alerting individuals not ignoring or forgetting to update/close the issue.

[2019-01-22 16:37] kenorb commented on #92
Check: https://github.com/probot/stale

[2019-01-27 16:20] jakebolam commented on #46
A few of us have been building a bot ✨https://github.com/all-contributors/all-contributors-bot

@siwaniagrawal @bogas04 @loukas-kotas @gr2m just found this now, great to see so many people behind this.

@ani6gup if you're still up for writing a post, I'd happily pair.

[2019-01-28 01:06] ianwalter commented on #66
Also check out [Renovate](https://github.com/renovatebot/renovate) if you haven't yet. It's not just a service but also an open source project you can run yourself unlike Greenkeeper and Dependabot.

[2019-01-31 06:46] pjurczynski commented on #48
(psst. - it's already here: https://probot.github.io/apps/semantic-pull-requests/ ) GJ guys, thanks!

[2019-01-31 22:10] zeke commented on #48
Thanks for following up @pjurczynski. Yeah this is totally a thing now!

Used by orgs like Electron, Probot, Nuxt, and Algolia! 🙌

[2019-01-31 22:15] #48 closed

[2019-02-07 02:17] Keidrych commented on #26
Wei's tool is excellent!

[2019-03-01 23:47] tunnckoCore commented on #79
To me it sounds like a good idea. Legally, don't know and I'm interested to hear that too.

Probably @kemitchell can say some words :)

[2019-04-05 14:56] Pushplaybang commented on #74
Love this. 👍 no idea where to keep em though.

[2019-04-06 12:03] pvinis commented on #74
maybe the config repo?

[2019-04-07 03:38] zeke commented on #74
In the time since I created this issue, GitHub has released some new features that enable new ways to build "sisyphean" workflows:

🔑 There's a new GitHub API for storing secrets on a repo: https://developer.github.com/actions/managing-workflows/storing-secrets/

🕐 GitHub Actions now have a cron-like scheduling feature: https://developer.github.com/actions/changes/2019-04-05-scheduling-workflows/

[2019-04-08 05:28] TravisEz13 opened #93 "Enforce labeling rules"
We require that one of a set of labels are applied.

Basically we require that a label that starts with `cl-` be applied before a PR is merged.

[2019-04-17 19:06] thojansen commented on #79
We have some similar discussions ongoing at https://github.com/cla-assistant/cla-assistant/issues/430.

[2019-06-04 04:52] Riszin opened #95 "Hdhh"

[2019-06-04 12:52] pvinis commented on #95
interesting.

[2019-06-04 15:13] RussH opened #96 "When closing an issue, offer to copy it to a new wiki page"
If I tag an issue with 'share to documentation' and close it, the bot should create a new wiki page under 'knowledgebase' with the issue content.. I can then delete the irrelevant parts and save it.

[2019-06-06 18:09] arunwebber commented on #96
https://github.community/t5/How-to-use-Git-and-GitHub/API-for-repository-s-wiki/td-p/6706 I searched command lines as well no help :(

[2019-06-07 13:27] RussH commented on #96
Arrgh, that'd just be too useful to have available!

[2019-06-09 04:41] zeke opened #97 "sync a public and private pair of repos"
I'm working on a project that is currently in a private repo. We want to open source the repo, but also want to maintain a private fork for doing work that's not ready for the public eye.

It would be neat if there was a probot app that could watch two repos and keep them in sync, bidirectionally. It could potentially open pull requests, or just merge straight into a given branch. 🤔

I found this

[2019-06-09 12:53] TiagoDanin commented on #97
Another similar is [Pull](https://probot.github.io/apps/pull/) (Only work in public repositories).

[2019-06-13 09:54] cyberhck commented on #93
I should probably give this a try :)

[2019-06-13 17:40] dblado commented on #68
I just started exploring w/ Github projects and also was looking for how to convert all cards on a board into issues.

[2019-06-15 22:23] vaibhavhrt commented on #76
@stefanbuck  I think you want a bot run eslint checks for all lines updated or modified in the PR and add a comment with list of all errors. And as new commits are made in the PR delete the previous comment and a new one with updated eslint check info. A similar bot for python exists but none for js, I will add it my list of todo projects.

[2019-06-20 05:39] cyberhck commented on #93
https://github.com/apps/pull-request-label-enforcer hey, do you care to give this a try?

[2019-06-20 05:41] cyberhck commented on #93
you do need a configuration file at `.github/pr_labels.yml`
[code]

[2019-06-20 18:52] TravisEz13 commented on #93
Can you add a license in the repo?

[2019-06-21 03:33] cyberhck commented on #93
if you meant on the app's repo, I just did, thanks for the reminder.

[2019-06-21 12:05] LemonAndroid commented on #26
Any plans . to make these tools into github apps?

[2019-06-21 12:54] pvinis commented on #26
I've also been using `pull`. Works great, besides the notification spam :D

[2019-06-21 13:27] LemonAndroid commented on #26
@pvinis that's a github problem. if . githbu source code was . open it . could more easily/faster resolvable.

[2019-06-21 13:51] LemonAndroid commented on #26
Would also be cool if github allowed forking complete organizations or accounts.

[2019-06-21 13:56] wei commented on #26
What is the use case? It can be done by pulling public repos and forking via API.

[2019-06-21 15:14] LemonAndroid commented on #26
@wei so forking orgas/users as an app? would be awesome

[2019-06-21 15:16] wei commented on #26
@LemonAndroid i don't see a wide need for this though. It can be done in a cron script in probably under a dozen lines.

[2019-06-21 15:18] LemonAndroid commented on #26
@wei i can't easily do it in a 10 line script tho, that's the use case for github apps like yours (which i highly enjoy btw): comfort factor.

[2019-06-21 17:39] wei commented on #26
I would if there was more demand, this is the first case i've heard.

Here you go:
[code]

replace `get_organization(owner)` with `get_user(owner)` if that's what you want.

[2019-06-24 05:27] pvinis commented on #26
@lemonandroid

what?

[2019-07-21 05:50] grount commented on #22
Anything on this in 2019? 👍

[2019-07-22 01:17] zeke commented on #22
Thanks to some work from @kytrinyx late last year, there's now an API endpoint for merging PRs: https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

@dependabot already has support for this, and the product was acquired by GitHub earlier this year. If you want this functionality today, you can install @dependabot on your projects. As for the future of this becoming a feature b

[2019-07-22 05:16] bobvanderlinden commented on #22
Quite a few people are now using https://github.com/bobvanderlinden/probot-auto-merge. I do not consider it experimental anymore. I personally use dependabot as well as probot-auto-merge. They both have their purposes.

For example, for some projects it's fine to just approve prs with a review and have it automatically merged. For other projects merging to master happens in batches: I label all ap

[2019-07-25 11:52] cyberhck commented on #22
https://github.com/fossapps/MergeWhenReady I also gave this a try, it doesn't use any config, you protect your branch with everything you have from github (require review, status checks etc), once the button becomes green, and IF you have added a label created by this bot, it automatically merges the branch

[2019-07-25 16:21] paulirish commented on #22
In this twitter thread are a few more of these: https://twitter.com/rauchg/status/1154190143013584898

https://github.com/chdsbd/kodiak#prior-art has a matrix of some auto-merge bots and their characteristics.

[2019-07-26 03:40] cyberhck commented on #22
the one I did is very basic, if there's a label and PR can be merged it merges it. It's typescript automatically deployed to now.sh and it automatically deploys to docker hub as well, so if you want to run your own instance, you can. :)

[2019-08-28 20:14] zeke opened #99 "Keep pull request branches up to date"
I work on a fairly large project that ships several times a day. We have a branch protection setting enabled on the repo:

<img width="693" alt="Screen Shot 2019-08-28 at 1 10 55 PM" src="https://user-images.githubusercontent.com/2289/63889164-4d8e6b00-c995-11e9-8b7e-e7508aab7a4a.png">

---

Because of this setting, we see this a lot:

---

<img width="678" alt="Screen Shot 2019-08-28 at 1 09 26 P

[2019-08-28 20:30] rsarky commented on #99
This sounds cool!
Might take take a stab at this if this hasn't been done before

[2019-08-28 22:30] zeke commented on #99
Hey @rsarky! If you do work on this, please let me know. I'd be happy to help on it.

[2019-08-29 22:54] mfix22 commented on #22
http://reporanger.com also handles this 🙂 _Very_ biased, since I built it, but let me know if anyone needs help setting it up or configuring a specific automation 👍

[2019-09-04 13:17] tekdeveloper commented on #26
It's kinda pathetic that the answer isn't "wow! what a great feature", instead of "everyone should fend for themselves!"

We manage large teams on 3 continents.  The fact that we have to perform constant reverse PR's is just stupid after using BitBucket, or get every developer to implement the script on a variety of technologies, most of which are not Linux and most of whom do not have CRON access

[2019-09-07 18:30] xt0rted commented on #85
If you're using GitHub Actions I wrote one that does this. https://github.com/xt0rted/block-autosquash-commits-action

[2019-09-10 12:25] gadagashwini opened #100 "testing"

[2019-09-13 17:16] zeke opened #101 "Storing secrets for third-party services"
Migrated from https://github.com/probot/ideas/issues/69

[2019-09-23 19:13] Konard commented on #56
Something like [orthographic-pedant](https://github.com/thoppe/orthographic-pedant) should be revived but as opt-in bot.

[2019-10-02 18:30] muescha commented on #26
@tekdeveloper just try: https://github.com/wei/pull#readme or from the apps page: https://github.com/apps/pull

[2019-10-11 16:52] #95 closed

[2019-11-04 04:39] #93 closed

[2019-12-11 16:57] blaggacao opened #104 "Auto/early release for python projects"
Implement strawberry graphql mechanism as probot: https://github.com/strawberry-graphql/strawberry/issues/83

See also: https://github.com/autopub/autopub

[2019-12-28 12:41] O330oei opened #105 "droidbot"
juganot

[2019-12-30 05:03] O330oei commented on #105
use

[2019-12-30 09:53] #105 closed

[2020-01-24 19:34] katrinleinweber commented on #26
Is there also a similarly neat to for the opposite use-case: the owner of a repo wanting to observe its network of forks for commits & branches whose authors have (for whatever reason) not started a PR?

[2020-01-24 22:28] tekdeveloper commented on #26
That is a really cool idea except that it is difficult to establish which forks are of value.  Often forks are taken for simple republishing to other groups, for looking and playing, and some commits may never be pushed back to the main repo.

I think it would be valuable to be able to “watch” specific forks, and not be overwhelmed by information for all of them?  But, I haven’t thought through th

[2020-01-25 11:34] katrinleinweber commented on #26
A naive implementation that "simply" presents all the forks' new commits (by message, with option to load the diff) that are not already included in a PR, might already be useful.

An `ignore this branch/commit` feature would help, like in a spell-checker ;-) One would have to go through the entire list at leaset once in any case. Like a mergetool making you resolve one conflicted chunk after anot

[2020-01-27 12:03] adnathanail commented on #68
I've just hacked something together from the demo project on Glitch that will autoconvert cards as they're created as opposed to the whole project at once, but might be of interest?

Go here:
`https://probot.github.io/docs/hello-world/`
Click remix on Glitch

## index.js
[code]
## app.yml
Change `default_events` to `project_card`
Change `default_permissions`:
 - `issues: write`
 - `metadata: read`

[2020-02-22 21:42] katrinleinweber commented on #26
Found some [under the topic `forks-insight`](https://github.com/topics/forks-insight) :-) _</topic-hijack over>_ Apologies!

[2020-03-29 19:02] davidkarlsen opened #106 "Bot to prevent github pages being enabled"
github-pages are public - hence it makes sense to be able to prohibit them being used when working in a closed-source corporate enviroment.
It would be nice to have a probot "prevent-github-pages", working similar to:
* https://github.com/issc29/probot-prevent-public-repos
* https://github.com/apps/remove-outside-collaborators

[2020-04-13 09:40] mukul13 commented on #7
Hi, I have created a github app to maintain changelog: [PRCLbot](https://github.com/marketplace/prclbot-automate-your-pull-requests-to-changelogs-generation-flow)

It currently follows the format of (keepachangelog)[https://keepachangelog.com/en/1.0.0/]

Landing Page: [PRCLbot](https://www.prclbot.com/)

It also has additional features like
- Slack Integration for each repo
- Intuitive dashboard t

[2020-04-13 21:32] gr2m commented on #7
This looks really cool @mukul13!

[2020-04-25 03:24] bipsBro opened #107 "jj"

[2020-04-25 03:25] #107 closed

[2020-05-22 19:11] DarraghClarke commented on #55
I'm not entirely sure if this is what the Original creator had in mind, but I've given an effort to implementing a small bot along these lines

[Heres the repo for the bot](https://github.com/DarraghClarke/QMebhBot)

[2020-06-04 22:42] hadar-cpp-check opened #108 "Code review on pull request and repository push"
Hi,
I'm new to probot and github marketplace,
I'm trying to create an app that will run some code review once a user try to push a commit.

then my code will decide either to pass or fail the push an present the user some error messages incase of failure.

can you please advise what will be the best way to build such a thing?

[2020-06-05 07:07] larseggert opened #109 "Sign CLA on first issue interaction?"
There are a bunch of CLA bots (e.g., [cla-bot](https://github.com/finos/cla-bot) or [cla-assistant](https://github.com/cla-assistant/cla-assistant)) that automate signing of CLAs for PRs.

However, none of them seems configurable to prompt a user to sign the CLA when they first interact on any **issue**? Is there a probot app  to do this?

(Background: we're increasingly using repos for IETF work,

[2020-06-06 23:26] gr2m commented on #109
I'm not aware of any. Did you ask about that feature in the repositories of the two bots? Maybe they can add it as an feature, or directly you an alternative?

If they are not open to add the feature themselves, maybe you can fork it and run your own bot?

[2020-06-08 09:10] larseggert commented on #109
`cla-bot` is looking into [adding this](https://github.com/finos/cla-bot/issues/188).

[2020-06-08 09:10] #109 closed

[2020-06-20 16:29] adamu commented on #22
I wrote a free GitHub App, [Mergery](https://github.com/apps/mergery), that does this.

[2020-06-20 20:45] zeke commented on #22
My team has settled on using https://github.com/pascalgn/automerge-action for this workflow. Attach an `automerge` label to the pull request and walk away (or go look at Instagram). Once it turns green it will get merged.

[2020-06-21 11:35] adamu commented on #22
That's exactly what [Mergery](https://github.com/apps/mergery) does too. One of the reasons I wrote it is that the configuration for `automerge-action` was quite bewildering, and it didn't work as expected when I tried it. Mergery doesn't require any config, it works with the default repository config, and it's fast :-)

[2020-06-22 02:26] cyberhck commented on #22
https://github.com/fossapps/MergeWhenReady I also have this, however installation had some issue, however people say it's working for them, so not sure what's going on. When you label a PR with a specific value, it waits for status checks to pass and it merges the PR.

[2020-07-04 03:33] zhang-alvin opened #110 "Best practices for improving my probot app that's already deployed"
I tinkered with probot last month to create a bot that could check the sizes of added files on pull requests (see [here](https://github.com/apps/sizecheck) if interested).

I wound up deploying a functional app, but it was implemented inefficiently because I was playing around too much and because of time constraints.

As a newbie to JavaScript/node.js and to backend development, I'm not sure how

[2020-07-10 19:14] gr2m commented on #110
You can register a new application on github, and call it e.g. `sizeCheck (Test)`. Than install that app on a test repository.

You can simply start probot on your local machine. As long as you didn't configure the `APP_ID` / `PRIVATE_KEY` / `WEBHOOK_SECRET` variables, probot will help you register the app from http://localhost:3000

[2020-07-10 19:34] zhang-alvin commented on #110
@gr2m Thanks for the response. I was hoping that there'd be a more elegant way of handling this, but I'm okay with this approach.

[2020-07-29 21:09] Jme7 commented on #99
Just wondering, 11 months and 1 day later, has this been made? This looks like an AMAZING app, and I want to try it!

[2020-07-29 21:34] zeke commented on #99
I did a quick search and found this GitHub Action for keeping branches up to date: https://github.com/marketplace/actions/auto-update -- haven't used it before but it might do the trick.

[2020-07-30 02:09] Jme7 commented on #99
Thanks! I was actually doubting that anyone would respond, but I figured I might as well ask. So thank you!!

[2020-07-30 18:44] Jme7 commented on #89
Hi! I like your idea, so I would like to help out! I don't know how much of a help I will be, I am not a exactly an expert, but I work for free (I am serious, DON'T PAY ME ANYTHING). If you need any help, just bring up an issue, and "mention @Jme7".

[2020-07-30 18:51] Jme7 commented on #89
I like this idea, so I will be available if you need me. I don't know how much I will help, but I work for free (seriously, don't pay me for helping with bounties OR ANYTHING). If you want help, just mention @Jme7 (I will probably get to it in at most 3 days, but probably less)

[2020-07-30 22:25] zeke commented on #99
I'm going to go ahead and close this issue, as GitHub Actions has become the de facto product for solving workflow problems of this nature.

[2020-07-30 22:25] #99 closed

[2020-07-30 22:27] Jme7 commented on #99
Ok

[2020-07-31 14:40] Jme7 commented on #89
And I like your character, Kocao.

[2020-08-02 22:30] Chococoin commented on #89
Hi @Jme7, I saw today your messagge minutes. Thanks for your offer of help I'll be glade to work with you. Let's keep in touch.

[2020-08-02 22:47] Jme7 commented on #89
Ok! Again, just say "@Jme7" to contact me.

[2020-08-03 03:49] Jme7 commented on #100
Is this just a test to see if issues work correctly? if so please close this. If it is an actual idea, then can you add a description?

[2020-08-03 03:52] Jme7 commented on #96
Awww

[2020-08-03 22:45] Jme7 commented on #87
Well, there is a workaround. You can have a template containing those and use that as a template for your repos. That's the best I've got.

[2020-08-03 22:46] Jme7 commented on #86
That seems like an interesting idea!

[2020-08-03 22:49] Jme7 commented on #83
Could you provide a description? Also, this sounds like something that GitHub can add, not probot.

[2020-08-03 22:49] Jme7 commented on #82
YES! I have always wanted automation like that!

[2020-08-03 22:51] Jme7 commented on #82
YES! I've always wanted something like that!

[2020-08-03 22:51] wolfy1339 commented on #83
Probot has an HTTP server built in, accessed via the `app.router()` function.
It would be nice if when the required options are set, a TLS server is used instead of plain HTTP server

[2020-08-03 23:14] Jme7 commented on #74
This is completely off-topic, but how can I add unfurl-links to a repository?

[2020-08-04 15:47] gr2m commented on #87
apps are looking for the `.github` folder in the `.github` repository by default, so no need to copy them over, unless you want to override them

[2020-08-04 15:47] #100 closed

[2020-08-04 15:54] travi commented on #87
based on the date of this being opened, i think that was before either template repositories were a github feature or probot-config being built directly into probot for reading config from the `.github` repo. i use the protected branches functionality of the settings app in my organization accounts and personal account successfully, so i would say this request has since been satisfied

[2020-08-04 15:59] gr2m commented on #87
good point, agree :)

[2020-08-04 15:59] #87 closed

[2020-08-04 18:03] drgs commented on #101
Is there any update regarding this issue?

[2020-08-04 21:32] zeke commented on #101
GitHub Secrets are still only available in GitHub Actions, but not to GitHub Apps.

cc @jovel

[2020-08-04 22:00] #74 closed

[2020-08-13 16:55] mayakacz commented on #92
I want more than just closing an issue - for example, if an issue out of SLA, the resolution is not to close it, but ping the individual assigned to it.

[2020-08-27 08:23] Joachim16 opened #111 "DOC inconsistency in reformatted part"
in the original [DCO](https://developercertificate.org/) items a developer certifies are numerated as
(a) (b) (c) (d)
in probot's reformatted for readability version numeration has changed to
1. 2. 3. 4.
the problem arises under 3. where the reformatting wasn't pulled through.
it reads:
3. The contribution was provided directly to me by some other person who certified **(a), (b) or (c)** and I hav

[2020-10-16 18:00] DhrutikPatel opened #112 "Resume Builder"
We can build a bot using NLP which makes users resume according to him/her repo and contribution they make

[2020-12-12 14:54] mirusky commented on #68
@adnathanail using this way I lost the card creator and the app will be the creator of the issue/card.

[2020-12-12 15:04] mirusky commented on #68
I asked in octokit/rest.js and in octokit/webhooks.js and they answer me. They explained to me there's no rest endpoint to make this action, otherwise there's a graphql mutation to do that. You could found an example [here](https://github.com/octokit/rest.js/discussions/1969)

[2021-01-30 18:34] jainankit commented on #22
You can also checkout [MergeQueue](https://mergequeue.com/) for not just auto-merging, but also avoid all the build conflicts. It also works on Github labels. Read the docs for details.

[2021-01-30 18:40] bobvanderlinden commented on #22
Ooh, MergeQueue sounds very promising! 👍 Like dependabot and pullreminder, this sounds like an application that fills the gap in GitHubs core functionality.
Thanks for bringing it up.

[2021-02-08 07:32] dineshkumar2708 commented on #92
@mayakacz I am also looking for a similar kind of feature. The bot has to assign a specific user from a predefined file to that issue after a specific time.

[2021-03-03 20:50] dineshkumar2708 opened #114 "Auto assign newly created issues to a specific person"
Whenever the bot receives a payload from Jenkins, It is creating issue based details from Payload (Like Env, component, version, package, failure message). However, the GitHub API is creating those issues in specific repo based on a central file where details of all components details are configured.

My request - As Github is creating issues based on Payload, can we configure the Bot to auto-assi

[2021-03-03 20:55] dineshkumar2708 commented on #33
What if, we configure the Bot to auto-assign a newly created issue based on the repo he owns from a control configuration file ?

[2021-03-18 09:51] aaronadamsCA opened #115 "Add title to issue links?"
Hi, is there an existing bot that could take a list like this:

- #1
- https://github.com/probot/probot/issues/1

And automatically convert it to this:

- [Status check for PR to depend on issues (#1)](https://github.com/probot/ideas/issues/1)
- [Limit autoresponder to "open" action (probot/probot#1)](https://github.com/probot/probot/issues/1)

[2021-05-20 14:11] saeidasade321 opened #116 "بانک جهانی"
@ملاحظات برنامه به زبان فادگرسی ارایه شود برای,هدفهای که در پیش داریم بدون مخدودیت
و ترجمه کامل به کل زبانها انجام گردد
@ Program considerations to be presented in the language of Fadgarsi for, the goals that we have in front of us without any restrictions
 And complete translation into all languages

[2021-05-20 14:11] saeidasade321 commented on #116
@درحال تنظیمات

[2021-05-20 17:13] gr2m commented on #116
Is this an idea for Probot, or GitHub itself?

[2021-06-01 00:37] saeidasade321 commented on #116
@هدف ما برابری و یکسان بودن تمام مردم جهان در امر بانکی هست ولی من هنوز نتوانستم از کشورم ایران یک کارت بانکی اضافه کنم به دلیل تحریم های یک طرفه امریکا علیه کشور ایران هست ما شهروندان عادی نمایندگانی از تمامی کشورها خواهیم گذاشت که هم در حوزه امنیت تروریسم و به هدر رفتن منابع مالی جهانی و امنیت کل دارایی جهان به دست کارشناسان زبده خواهیم سپرد و هم از دعواهای
 سیاسی در اموربانکی دوری خواهیم کرد و

[2021-06-01 00:38] saeidasade321 commented on #116
@Our goal is the equality of all people in the world in banking, but I have not yet been able to add a bank card from my country, Iran, due to US unilateral sanctions against Iran. We, ordinary citizens, will leave representatives from all countries, including  We will hand over the security of terrorism and the waste of global financial resources and the security of the entire world assets to the

[2021-06-01 00:39] gr2m commented on #116
we cannot help you with that sorry

[2021-06-01 00:39] #116 closed

[2021-06-02 11:20] ap0phi5 opened #117 "Probot deployment using kubernetes/helm"
Today, per https://probot.github.io/docs/deployment/, theres first-class documentation on how to deploy probot self-hosted via the following:

As node app
 * Glitch
 * Heroku
As serverless function
 * AWS Lambda
 * Azure Functions
 * Google Cloud Functions
 * GitHub Actions
 * Begin
 * Vercel

This idea ticket is to capture if it is simple enough to create a similar deployment for folks who alread

[2021-06-02 22:25] gr2m commented on #117
We'd be happy to add more information to the documentation! But personally I don't know anything about kubernetes, I could only help from the probot/node side

[2021-06-13 06:58] kevinslyn commented on #110
<script>alert(1)</script >

[2021-06-15 00:04] dudo commented on #108
If you're reviewing code from the repository, I'd suggest building a GitHub Action, instead.

[2021-06-30 21:09] debola31 commented on #68
Would love if there was a GitHub Action to do this

[2021-07-12 11:35] okyanusoz commented on #66
And [Dependabot](https://dependabot.com) by GitHub.

[2021-07-13 16:25] gr2m commented on #66
yeah I think we can close this issue :)

[2021-07-13 16:25] #66 closed

[2021-08-10 13:15] rethab commented on #76
This is a typical thing for GitHub Actions and several already exist: https://github.com/marketplace?type=&verification=&query=eslint

[2021-08-10 18:29] stefanbuck commented on #76
Back then GitHub Actions wasn't a thing, but I'm more than happy to close this request now. GitHub Actions are just 🤩

[2021-08-10 18:29] #76 closed

[2021-10-27 09:32] Irvenae opened #119 "Merge queue"
I am not sure if this is at all possible so input on how to do this would be great :)

I would like to create a merge queue based on adding a label to the PR. We enforce that PRs need to be up to date with master.

This means that when the PR is in the beginning of the queue it should be auto updated with master first. When the build fails, we place it at the end of the queue (and / or generate an

[2021-10-29 18:39] DavidVTurley opened #120 "Spotify integration?"
Hey I was wondering if this was in the works at all, or even thought about. I have all my playlist on that platform so it's nice being able to play yt, but Spotify would be awesome!

[2021-11-20 13:03] ajhalili2006 commented on #18
And of course, if you're signed in to GitLab and if it's a public/internal project, you can submit a new issue as confidential.

[2021-11-26 14:51] ajhalili2006 opened #123 "Keeping issues and PR in-sync with GitLab side"
## About this Idea

So you imported your GitHub repo to GitLab as you migrate to GitLab, but you still want to ensure everything is in-sync while you doing work on other parts such as migrating GitHub Actions workflows to either use GitLab CI format in only Docker containers or set up `act` stuff and even copying issue and PR templates to `.gitlab` directory.[^1]

The problem here is while you mig

[2021-11-30 13:05] cseas opened #124 "Don't dismiss stale reviews if the code diff doesn't change on rebase"
When we have the "Dismiss stale pull request approvals when new commits are pushed" rule enabled for a branch, every new commit pushed to a Pull request after an Approval will dismiss that approving review automatically.

This becomes a problem for teams that need to rebase their branches often because every rebase dismisses the pull request approval and we need to find the reviewer to approve the

[2022-01-11 10:08] #119 closed

[2022-02-20 22:01] shakibaei65 opened #126 "shakibae01"
یه یاد داشته باشید، مشارکت در این مخزن باید از

[2022-02-21 00:51] #126 closed

[2022-02-25 04:53] byteofjoshua opened #128 "ITResearch Introduce"
hello good morning.
my name is Joshua Wicaksono here I want to ask for approval to join the github repo community that you have, I will explain a little below about my personal data:

**Whoam?**
A young man who has a high curiosity. Has experience as a Pentester & Digital Strategist for more than 5 years. Currently a Security BugHunter for several companies in Indonesia. Really enjoying his curren

[2022-03-21 17:58] hitesh-coder commented on #115
hey @aaronadamsCA could you please refer something to read about autoresponder I couldn't grab what autoresponder actually is.

[2022-03-30 07:06] hitesh-coder commented on #30
hey @gr2m I don't know if this issue is resolved during GSOC 2018 but here is my small effort to solve it.
Although my bot doesn't check code if it's right or not but we could work on it.

[BOT](https://github.com/apps/documentation-manager)

[Bot repo](https://github.com/hitesh-coder/documentation-manager)

[2022-03-30 15:47] gr2m commented on #30
The app looks great, thanks for sharing!

[2022-04-16 17:56] IconDean opened #130 "Creation of an automation app"
Please, I'm new to electron🥺 and I really want to gain experience in developing automation apps or improvements. How do I start❔ Thank you 🙏

[2022-06-10 20:06] #89 closed

[2022-08-10 07:57] alokgupta83in opened #133 "Not working on release name with wild character *"
I have created a settings.yml file which contains all branches and included release/* . But branch protection rules are nor created for release branches.

- name: "release/*""
    protection:
      required_status_checks:
        strict: true
        contexts: ["WIP"]
      restrictions: null
      enforce_admins: true
      required_pull_request_reviews:
      # The number of approvals required.

[2022-09-06 21:50] Seyofficial opened #134 "/repos/{owner}/{repo}/commits/{ref}/status"
Duplicate of #

[2022-09-06 23:23] #134 closed

[2022-09-16 16:50] ajhalili2006 commented on #123
A bit of bump, but related suggestion on our issue tracker: https://todo.sr.ht/~recaptime-dev/squad-suggestion-box/2

<blockquote><div><strong><a href="https://todo.sr.ht/~recaptime-dev/squad-suggestion-box/2">~recaptime-dev/squad-suggestion-box#2: [idea sandbox] todo sourcehut as GitLab issues (and back)
  —
  sourcehut todo</a></strong></div></blockquote>

[2022-11-09 22:01] testul opened #135 "asdasdasd"

[2022-11-09 22:02] testul commented on #135
wdasdasd

[2022-11-09 22:02] testul opened #136 "1223123"

[2022-11-10 18:30] #136 closed, assigned to nobody